if(cubeValue == 'expert'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(expertWeaponEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(expertWeaponEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(expertWeaponEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertEmblemEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEmblemEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertAdditionalWeaponEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertAdditionalWeaponEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertAdditionalWeaponEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertForceshieldSoulingEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertForceshieldSoulingEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertForceshieldSoulingEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShieldEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShieldEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShieldEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertHatEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertHatEpic201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatEpic201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatEpic201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatEpic201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatEpic201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatEpic201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertTopEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertTopEpic201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopEpic201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopEpic201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopEpic201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopEpic201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopEpic201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertDressEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertDressEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertDressEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertBottomEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertBottomEpic201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomEpic201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomEpic201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomEpic201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomEpic201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomEpic201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShoesEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoesEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoesEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertGlovesEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertGlovesEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertGlovesEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertCloakEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertCloakEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertCloakEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertBeltEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBeltEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBeltEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShoulderDecorationEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoulderDecorationEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoulderDecorationEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertFaceDecorationEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertFaceDecorationEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertFaceDecorationEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEyeDecorationEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEyeDecorationEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEyeDecorationEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEarringEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEarringEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEarringEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertRingEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertRingEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertRingEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertPendantEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertPendantEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertPendantEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(expertMachineHeartEpic30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartEpic30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartEpic30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(expertMachineHeartEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(expertMachineHeartEpic120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartEpic120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartEpic120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartEpic120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
