if(cubeValue == 'additional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(additionalWeaponEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(additionalWeaponEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(additionalWeaponEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalEmblemEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEmblemEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalAdditionalWeaponEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalAdditionalWeaponEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalAdditionalWeaponEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalForceshieldSoulingEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalForceshieldSoulingEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalForceshieldSoulingEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShieldEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShieldEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShieldEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalHatEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalHatEpic201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatEpic201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatEpic201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatEpic201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatEpic201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatEpic201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalTopEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalTopEpic201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopEpic201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopEpic201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopEpic201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopEpic201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopEpic201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalDressEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalDressEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalDressEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalBottomEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalBottomEpic201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomEpic201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomEpic201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomEpic201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomEpic201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomEpic201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShoesEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoesEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoesEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalGlovesEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalGlovesEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalGlovesEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalCloakEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalCloakEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalCloakEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalBeltEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBeltEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBeltEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShoulderDecorationEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoulderDecorationEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoulderDecorationEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalFaceDecorationEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalFaceDecorationEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalFaceDecorationEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEyeDecorationEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEyeDecorationEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEyeDecorationEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEarringEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEarringEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEarringEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalRingEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalRingEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalRingEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalPendantEpic120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantEpic120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalPendantEpic120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantEpic120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalPendantEpic120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantEpic120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(additionalMachineHeartEpic30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartEpic30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartEpic30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(additionalMachineHeartEpic100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartEpic100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartEpic100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(additionalMachineHeartEpic120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartEpic120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartEpic120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartEpic120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
