if(cubeValue == 'additional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(additionalWeaponLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(additionalWeaponLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(additionalWeaponLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalEmblemLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEmblemLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalAdditionalWeaponLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalAdditionalWeaponLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalAdditionalWeaponLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalForceshieldSoulingLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalForceshieldSoulingLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalForceshieldSoulingLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShieldLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShieldLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShieldLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalHatLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalHatLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalTopLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalTopLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalDressLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalDressLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalDressLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalBottomLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalBottomLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShoesLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoesLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoesLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalGlovesLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalGlovesLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalGlovesLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalCloakLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalCloakLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalCloakLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalBeltLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBeltLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBeltLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShoulderDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoulderDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoulderDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalFaceDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalFaceDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalFaceDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEyeDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEyeDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEyeDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEarringLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEarringLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEarringLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalRingLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalRingLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalRingLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalPendantLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalPendantLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalPendantLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(additionalMachineHeartLegendary30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartLegendary30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartLegendary30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(additionalMachineHeartLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(additionalMachineHeartLegendary120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartLegendary120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartLegendary120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartLegendary120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
