if(cubeValue == 'master'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(masterWeaponLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(masterWeaponLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(masterWeaponLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterEmblemLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEmblemLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterAdditionalWeaponLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterAdditionalWeaponLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterAdditionalWeaponLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterForceshieldSoulingLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterForceshieldSoulingLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterForceshieldSoulingLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShieldLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShieldLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShieldLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterHatLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterHatLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterTopLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterTopLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterDressLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterDressLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterDressLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterBottomLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterBottomLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShoesLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoesLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoesLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterGlovesLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterGlovesLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterGlovesLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterCloakLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterCloakLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterCloakLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterBeltLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBeltLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBeltLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShoulderDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoulderDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoulderDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterFaceDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterFaceDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterFaceDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEyeDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEyeDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEyeDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEarringLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEarringLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEarringLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterRingLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterRingLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterRingLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterPendantLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterPendantLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterPendantLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(masterMachineHeartLegendary30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartLegendary30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartLegendary30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(masterMachineHeartLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(masterMachineHeartLegendary120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartLegendary120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartLegendary120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartLegendary120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
