if(cubeValue == 'red'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(redWeaponLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redWeaponLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(redWeaponLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redWeaponLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(redWeaponLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redWeaponLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(redEmblemLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEmblemLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redEmblemLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEmblemLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redEmblemLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEmblemLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(redEmblemLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEmblemLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redEmblemLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEmblemLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redEmblemLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEmblemLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(redAdditionalWeaponLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redAdditionalWeaponLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redAdditionalWeaponLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redAdditionalWeaponLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redAdditionalWeaponLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redAdditionalWeaponLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(redForceshieldSoulingLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redForceshieldSoulingLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redForceshieldSoulingLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redForceshieldSoulingLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redForceshieldSoulingLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redForceshieldSoulingLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redShieldLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShieldLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redShieldLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShieldLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redShieldLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShieldLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redHatLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redHatLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redHatLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redHatLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redHatLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redHatLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(redHatLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redHatLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redHatLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redHatLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redHatLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redHatLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redTopLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redTopLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redTopLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redTopLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redTopLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redTopLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(redTopLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redTopLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redTopLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redTopLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redTopLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redTopLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redDressLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redDressLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redDressLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redDressLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redDressLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redDressLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redBottomLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBottomLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redBottomLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBottomLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redBottomLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBottomLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(redBottomLegendary201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBottomLegendary201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redBottomLegendary201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBottomLegendary201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redBottomLegendary201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBottomLegendary201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redShoesLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShoesLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redShoesLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShoesLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redShoesLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShoesLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redGlovesLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redGlovesLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redGlovesLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redGlovesLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redGlovesLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redGlovesLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redCloakLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redCloakLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redCloakLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redCloakLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redCloakLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redCloakLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redBeltLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBeltLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redBeltLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBeltLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redBeltLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redBeltLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redShoulderDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShoulderDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redShoulderDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShoulderDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redShoulderDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redShoulderDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redFaceDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redFaceDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redFaceDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redFaceDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redFaceDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redFaceDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redEyeDecorationLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEyeDecorationLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redEyeDecorationLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEyeDecorationLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redEyeDecorationLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEyeDecorationLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redEarringLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEarringLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redEarringLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEarringLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redEarringLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redEarringLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redRingLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redRingLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redRingLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redRingLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redRingLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redRingLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(redPendantLegendary120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redPendantLegendary120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redPendantLegendary120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redPendantLegendary120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redPendantLegendary120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redPendantLegendary120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(redMachineHeartLegendary30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redMachineHeartLegendary30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redMachineHeartLegendary30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(redMachineHeartLegendary100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redMachineHeartLegendary100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redMachineHeartLegendary100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(redMachineHeartLegendary120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(redMachineHeartLegendary120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(redMachineHeartLegendary120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = redMachineHeartLegendary120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
