if(cubeValue == 'master'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(masterWeaponRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(masterWeaponRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(masterWeaponRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterEmblemRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEmblemRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterAdditionalWeaponRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterAdditionalWeaponRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterAdditionalWeaponRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterForceshieldSoulingRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterForceshieldSoulingRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterForceshieldSoulingRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShieldRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShieldRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShieldRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterHatRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterHatRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterTopRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterTopRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterDressRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterDressRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterDressRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterBottomRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterBottomRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShoesRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoesRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoesRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterGlovesRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterGlovesRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterGlovesRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterCloakRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterCloakRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterCloakRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterBeltRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBeltRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBeltRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShoulderDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoulderDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoulderDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterFaceDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterFaceDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterFaceDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEyeDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEyeDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEyeDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEarringRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEarringRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEarringRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterRingRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterRingRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterRingRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterPendantRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterPendantRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterPendantRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(masterMachineHeartRare30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartRare30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartRare30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(masterMachineHeartRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(masterMachineHeartRare120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartRare120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartRare120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartRare120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
