if(cubeValue == 'expert'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(expertWeaponRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(expertWeaponRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(expertWeaponRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertEmblemRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEmblemRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertAdditionalWeaponRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertAdditionalWeaponRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertAdditionalWeaponRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertForceshieldSoulingRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertForceshieldSoulingRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertForceshieldSoulingRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShieldRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShieldRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShieldRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertHatRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertHatRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertTopRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertTopRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertDressRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertDressRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertDressRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertBottomRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertBottomRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShoesRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoesRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoesRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertGlovesRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertGlovesRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertGlovesRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertCloakRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertCloakRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertCloakRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertBeltRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBeltRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBeltRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShoulderDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoulderDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoulderDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertFaceDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertFaceDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertFaceDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEyeDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEyeDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEyeDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEarringRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEarringRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEarringRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertRingRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertRingRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertRingRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertPendantRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertPendantRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertPendantRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(expertMachineHeartRare30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartRare30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartRare30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(expertMachineHeartRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(expertMachineHeartRare120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartRare120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartRare120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartRare120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
