if(cubeValue == 'black'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(blackWeaponRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackWeaponRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(blackWeaponRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackWeaponRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(blackWeaponRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackWeaponRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(blackEmblemRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(blackEmblemRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(blackAdditionalWeaponRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackAdditionalWeaponRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackAdditionalWeaponRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackAdditionalWeaponRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackAdditionalWeaponRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackAdditionalWeaponRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(blackForceshieldSoulingRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackForceshieldSoulingRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackForceshieldSoulingRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackForceshieldSoulingRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackForceshieldSoulingRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackForceshieldSoulingRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackShieldRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShieldRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackShieldRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShieldRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackShieldRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShieldRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackHatRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(blackHatRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackTopRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(blackTopRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackDressRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackDressRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackDressRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackDressRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackDressRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackDressRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackBottomRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(blackBottomRare201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomRare201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomRare201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomRare201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomRare201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomRare201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackShoesRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoesRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoesRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoesRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoesRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoesRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackGlovesRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackGlovesRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackGlovesRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackGlovesRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackGlovesRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackGlovesRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackCloakRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackCloakRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackCloakRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackCloakRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackCloakRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackCloakRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackBeltRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBeltRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackBeltRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBeltRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackBeltRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBeltRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackShoulderDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoulderDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoulderDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoulderDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoulderDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoulderDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackFaceDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackFaceDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackFaceDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackFaceDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackFaceDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackFaceDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackEyeDecorationRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEyeDecorationRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEyeDecorationRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEyeDecorationRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEyeDecorationRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEyeDecorationRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackEarringRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEarringRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEarringRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEarringRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEarringRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEarringRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackRingRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackRingRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackRingRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackRingRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackRingRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackRingRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackPendantRare120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackPendantRare120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackPendantRare120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackPendantRare120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackPendantRare120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackPendantRare120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(blackMachineHeartRare30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartRare30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartRare30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(blackMachineHeartRare100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartRare100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartRare100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(blackMachineHeartRare120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartRare120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartRare120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartRare120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
