if(cubeValue == 'master'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(masterWeaponUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(masterWeaponUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(masterWeaponUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterWeaponUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterEmblemUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEmblemUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEmblemUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEmblemUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterAdditionalWeaponUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterAdditionalWeaponUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterAdditionalWeaponUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterAdditionalWeaponUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(masterForceshieldSoulingUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterForceshieldSoulingUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterForceshieldSoulingUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterForceshieldSoulingUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShieldUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShieldUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShieldUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShieldUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterHatUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterHatUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterHatUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterHatUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterTopUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterTopUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterTopUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterTopUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterDressUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterDressUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterDressUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterDressUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterBottomUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(masterBottomUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBottomUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBottomUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShoesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterGlovesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterGlovesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterGlovesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterGlovesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterCloakUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterCloakUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterCloakUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterCloakUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterBeltUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterBeltUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterBeltUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterBeltUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterShoulderDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoulderDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterShoulderDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterShoulderDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterFaceDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterFaceDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterFaceDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterFaceDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEyeDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEyeDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEyeDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEyeDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterEarringUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterEarringUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterEarringUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterEarringUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterRingUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterRingUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterRingUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterRingUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(masterPendantUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterPendantUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterPendantUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterPendantUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(masterMachineHeartUnique30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartUnique30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartUnique30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(masterMachineHeartUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(masterMachineHeartUnique120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartUnique120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(masterMachineHeartUnique120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = masterMachineHeartUnique120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
