if(cubeValue == 'additional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(additionalWeaponUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(additionalWeaponUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(additionalWeaponUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalWeaponUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalEmblemUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEmblemUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEmblemUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEmblemUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalAdditionalWeaponUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalAdditionalWeaponUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalAdditionalWeaponUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalAdditionalWeaponUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(additionalForceshieldSoulingUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalForceshieldSoulingUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalForceshieldSoulingUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalForceshieldSoulingUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShieldUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShieldUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShieldUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShieldUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalHatUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalHatUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalHatUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalHatUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalTopUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalTopUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalTopUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalTopUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalDressUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalDressUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalDressUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalDressUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalBottomUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(additionalBottomUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBottomUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBottomUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShoesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalGlovesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalGlovesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalGlovesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalGlovesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalCloakUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalCloakUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalCloakUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalCloakUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalBeltUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBeltUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalBeltUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalBeltUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalShoulderDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoulderDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalShoulderDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalShoulderDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalFaceDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalFaceDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalFaceDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalFaceDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEyeDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEyeDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEyeDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEyeDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalEarringUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEarringUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalEarringUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalEarringUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalRingUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalRingUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalRingUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalRingUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(additionalPendantUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalPendantUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalPendantUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalPendantUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(additionalMachineHeartUnique30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartUnique30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartUnique30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(additionalMachineHeartUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(additionalMachineHeartUnique120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartUnique120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(additionalMachineHeartUnique120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = additionalMachineHeartUnique120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
