if(cubeValue == 'expert'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(expertWeaponUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(expertWeaponUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(expertWeaponUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertWeaponUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertEmblemUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEmblemUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEmblemUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEmblemUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertAdditionalWeaponUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertAdditionalWeaponUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertAdditionalWeaponUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertAdditionalWeaponUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(expertForceshieldSoulingUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertForceshieldSoulingUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertForceshieldSoulingUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertForceshieldSoulingUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShieldUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShieldUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShieldUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShieldUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertHatUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertHatUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertHatUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertHatUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertTopUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertTopUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertTopUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertTopUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertDressUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertDressUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertDressUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertDressUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertBottomUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(expertBottomUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBottomUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBottomUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShoesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertGlovesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertGlovesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertGlovesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertGlovesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertCloakUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertCloakUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertCloakUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertCloakUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertBeltUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertBeltUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertBeltUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertBeltUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertShoulderDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoulderDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertShoulderDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertShoulderDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertFaceDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertFaceDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertFaceDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertFaceDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEyeDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEyeDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEyeDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEyeDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertEarringUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertEarringUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertEarringUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertEarringUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertRingUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertRingUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertRingUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertRingUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(expertPendantUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertPendantUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertPendantUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertPendantUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(expertMachineHeartUnique30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartUnique30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartUnique30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(expertMachineHeartUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(expertMachineHeartUnique120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartUnique120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(expertMachineHeartUnique120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = expertMachineHeartUnique120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
