if(cubeValue == 'black'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			for(var i=0;i<(blackWeaponUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackWeaponUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			for(var i=0;i<(blackWeaponUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackWeaponUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			for(var i=0;i<(blackWeaponUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackWeaponUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			
			for(var i=0;i<(blackEmblemUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120-200'){
			
			for(var i=0;i<(blackEmblemUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEmblemUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEmblemUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			
			for(var i=0;i<(blackAdditionalWeaponUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackAdditionalWeaponUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackAdditionalWeaponUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackAdditionalWeaponUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackAdditionalWeaponUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackAdditionalWeaponUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			
			for(var i=0;i<(blackForceshieldSoulingUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackForceshieldSoulingUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackForceshieldSoulingUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackForceshieldSoulingUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackForceshieldSoulingUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackForceshieldSoulingUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackShieldUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShieldUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackShieldUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShieldUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackShieldUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShieldUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackHatUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(blackHatUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackHatUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackHatUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackTopUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(blackTopUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackTopUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackTopUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackDressUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackDressUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackDressUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackDressUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackDressUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackDressUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackBottomUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '201-250'){
			
			for(var i=0;i<(blackBottomUnique201_250Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomUnique201_250Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomUnique201_250Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomUnique201_250Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackBottomUnique201_250Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBottomUnique201_250Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackShoesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackGlovesUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackGlovesUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackGlovesUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackGlovesUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackGlovesUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackGlovesUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackCloakUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackCloakUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackCloakUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackCloakUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackCloakUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackCloakUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackBeltUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBeltUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackBeltUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBeltUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackBeltUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackBeltUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackShoulderDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoulderDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoulderDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoulderDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackShoulderDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackShoulderDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackFaceDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackFaceDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackFaceDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackFaceDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackFaceDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackFaceDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackEyeDecorationUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEyeDecorationUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEyeDecorationUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEyeDecorationUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEyeDecorationUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEyeDecorationUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackEarringUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEarringUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackEarringUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEarringUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackEarringUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackEarringUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackRingUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackRingUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackRingUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackRingUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackRingUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackRingUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			
			for(var i=0;i<(blackPendantUnique120_200Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackPendantUnique120_200Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackPendantUnique120_200Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackPendantUnique120_200Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackPendantUnique120_200Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackPendantUnique120_200Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			
			for(var i=0;i<(blackMachineHeartUnique30Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique30Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartUnique30Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique30Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartUnique30Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique30Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '100'){
			
			for(var i=0;i<(blackMachineHeartUnique100Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique100Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartUnique100Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique100Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartUnique100Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique100Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
		else if(levelValue == '120'){
			
			for(var i=0;i<(blackMachineHeartUnique120Value1.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique120Value1[i*2].innerText;
				s1.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartUnique120Value2.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique120Value2[i*2].innerText;
				s2.options.add(objOption);
			}
			
			for(var i=0;i<(blackMachineHeartUnique120Value3.length)/2;i++){
				var objOption = document.createElement('option');
				objOption.text = blackMachineHeartUnique120Value3[i*2].innerText;
				s3.options.add(objOption);
			}
		}
	}
}
