//chart option
{
	animation: false,
    responsive: true,
	resizeDelay:0.5,
    plugins: {
      legend: {
	position: 'top',
      },
      title: {
	display: true,
	text: ''
      }
    },
	interaction: { mode: 'index' },
	onHover: function (e) {
	     const points = this.getElementsAtEventForMode(
	       e,
	       'index', { axis: 'x', intersect: true },
	       false
	     );

	     if (points.length) e.native.target.style.cursor = 'pointer';
	     else e.native.target.style.cursor = 'default';
   	},	//chart values in the one tooltip on hover

	scales:{
		y: {
			type: 'linear',
			grid: {
				color: '#E2E2E230',
			},
			afterDataLimits: (scale) => {
				scale.max = scale.max * 1;
			},
			axis: 'y',
			display: true,
			position: 'left',
			title: {
				display: true,
				align: 'end',
				color: '#808080',
			font: {
				size: 12,
				family: "'Noto Sans KR', sans-serif",
				weight: 300,
			}
			}
		},
		x: {
			type: 'linear',
			grid: {
				color: '#E2E2E230',
			},
			afterDataLimits: (scale) => {
				scale.max = scale.max * 1;
			},
			axis: 'x',
			display: true,
			position: 'bottom',
			title: {
				display: true,
				align: 'end',
				color: '#808080',
			font: {
				size: 12,
				family: "'Noto Sans KR', sans-serif",
				weight: 300,
			}
			}
		}

	}
}
