	function overlapOptionCheck(){
		for(var i = 0;i < s2AllPer.length/2;i++){
			if(s2AllPer[i*2].innerHTML == '<쓸만한 어드밴스드 블레스> 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '<쓸만한 미스틱 도어> 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '<쓸만한 하이퍼 바디> 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '<쓸만한 컴뱃 오더스> 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '<쓸만한 윈드 부스터> 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '<쓸만한 샤프 아이즈> 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '&lt;쓸만한 어드밴스드 블레스&gt; 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '&lt;쓸만한 미스틱 도어&gt; 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '&lt;쓸만한 하이퍼 바디&gt; 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '&lt;쓸만한 컴뱃 오더스&gt; 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '&lt;쓸만한 윈드 부스터&gt; 스킬 사용 가능'||
			s2AllPer[i*2].innerHTML == '&lt;쓸만한 샤프 아이즈&gt; 스킬 사용 가능'){
				s2PerCheckOptionSkill += Number(s2AllPer[(i*2)+1].innerHTML.slice(0,s2AllPer[(i*2)+1].innerHTML.length-1));
			}
			else if(s2AllPer[i*2].innerHTML == '피격 후 무적시간 : +3초'||
			s2AllPer[i*2].innerHTML == '피격 후 무적시간 : +2초'||
			s2AllPer[i*2].innerHTML == '피격 후 무적시간 : +1초'){
				s2PerCheckOptionAfterBeingHit += Number(s2AllPer[(i*2)+1].innerHTML.slice(0,s2AllPer[(i*2)+1].innerHTML.length-1));
			}
		}

		for(var i = 0;i < s3AllPer.length/2;i++){
			if(s3AllPer[i*2].innerHTML == '<쓸만한 어드밴스드 블레스> 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '<쓸만한 미스틱 도어> 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '<쓸만한 하이퍼 바디> 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '<쓸만한 컴뱃 오더스> 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '<쓸만한 윈드 부스터> 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '<쓸만한 샤프 아이즈> 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '&lt;쓸만한 어드밴스드 블레스&gt; 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '&lt;쓸만한 미스틱 도어&gt; 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '&lt;쓸만한 하이퍼 바디&gt; 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '&lt;쓸만한 컴뱃 오더스&gt; 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '&lt;쓸만한 윈드 부스터&gt; 스킬 사용 가능'||
			s3AllPer[i*2].innerHTML == '&lt;쓸만한 샤프 아이즈&gt; 스킬 사용 가능'){
				s3PerCheckOptionSkill += Number(s3AllPer[(i*2)+1].innerHTML.slice(0,s3AllPer[(i*2)+1].innerHTML.length-1));
			}
			else if(s3AllPer[i*2].innerHTML == '피격 후 무적시간 : +3초'||
			s3AllPer[i*2].innerHTML == '피격 후 무적시간 : +2초'||
			s3AllPer[i*2].innerHTML == '피격 후 무적시간 : +1초'){
				s3PerCheckOptionAfterBeingHit += Number(s3AllPer[(i*2)+1].innerHTML.slice(0,s3AllPer[(i*2)+1].innerHTML.length-1));
			}
			else if(s3AllPer[i*2].innerHTML == '몬스터 방어율 무시 : +40%'||
			s3AllPer[i*2].innerHTML == '몬스터 방어율 무시 : +35%'||
			s3AllPer[i*2].innerHTML == '몬스터 방어율 무시 : +30%'||
			s3AllPer[i*2].innerHTML == '몬스터 방어율 무시 : +15%'){
				s3PerCheckOptionIgnoreDefense += Number(s3AllPer[(i*2)+1].innerHTML.slice(0,s3AllPer[(i*2)+1].innerHTML.length-1));
			}
			else if(s3AllPer[i*2].innerHTML == '보스 몬스터 공격 시 데미지 : +40%'||
			s3AllPer[i*2].innerHTML == '보스 몬스터 공격 시 데미지 : +35%'||
			s3AllPer[i*2].innerHTML == '보스 몬스터 공격 시 데미지 : +30%'){
				s3PerCheckOptionBossAttackDamage += Number(s3AllPer[(i*2)+1].innerHTML.slice(0,s3AllPer[(i*2)+1].innerHTML.length-1));
			}
			else if(s3AllPer[i*2].innerHTML == '피격 시 10% 확률로 데미지의 20% 무시'||
			s3AllPer[i*2].innerHTML == '피격 시 10% 확률로 데미지의 40% 무시'||
			s3AllPer[i*2].innerHTML == '피격 시 5% 확률로 데미지의 20% 무시'||
			s3AllPer[i*2].innerHTML == '피격 시 5% 확률로 데미지의 40% 무시'){
				s3PerCheckOptionIgnoreDamageWhenHit += Number(s3AllPer[(i*2)+1].innerHTML.slice(0,s3AllPer[(i*2)+1].innerHTML.length-1));
			}
			else if(s3AllPer[i*2].innerHTML == '피격 시 4% 확률로 7초간 무적'||
			s3AllPer[i*2].innerHTML == '피격 시 2% 확률로 7초간 무적'){
				s3PerCheckOptionInvincibleWhenHit += Number(s3AllPer[(i*2)+1].innerHTML.slice(0,s3AllPer[(i*2)+1].innerHTML.length-1));
			}
			else if(s3AllPer[i*2].innerHTML == '아이템 드롭률 : +20%'){
				s3PerCheckOptionItemDrop += Number(s3AllPer[(i*2)+1].innerHTML.slice(0,s3AllPer[(i*2)+1].innerHTML.length-1));
			}
		}
	}
