	/*		red		*/
	var redWeaponRare120_200 = document.querySelector('#redWeaponRare120-200');
	var redWeaponEpic120_200 = document.querySelector('#redWeaponEpic120-200');
	var redWeaponUnique120_200 = document.querySelector('#redWeaponUnique120-200');
	var redWeaponLegendary120_200 = document.querySelector('#redWeaponLegendary120-200');

	var redEmblemRare100 = document.querySelector('#redEmblemRare100');
	var redEmblemEpic100 = document.querySelector('#redEmblemEpic100');
	var redEmblemUnique100 = document.querySelector('#redEmblemUnique100');
	var redEmblemLegendary100 = document.querySelector('#redEmblemLegendary100');

	var redEmblemRare120_200 = document.querySelector('#redEmblemRare120-200');
	var redEmblemEpic120_200 = document.querySelector('#redEmblemEpic120-200');
	var redEmblemUnique120_200 = document.querySelector('#redEmblemUnique120-200');
	var redEmblemLegendary120_200 = document.querySelector('#redEmblemLegendary120-200');

	var redAdditionalWeaponRare100 = document.querySelector('#redAdditionalWeaponRare100');
	var redAdditionalWeaponEpic100 = document.querySelector('#redAdditionalWeaponEpic100');
	var redAdditionalWeaponUnique100 = document.querySelector('#redAdditionalWeaponUnique100');
	var redAdditionalWeaponLegendary100 = document.querySelector('#redAdditionalWeaponLegendary100');

	var redForceshieldSoulingRare100 = document.querySelector('#redForceshieldSoulingRare100');
	var redForceshieldSoulingEpic100 = document.querySelector('#redForceshieldSoulingEpic100');
	var redForceshieldSoulingUnique100 = document.querySelector('#redForceshieldSoulingUnique100');
	var redForceshieldSoulingLegendary100 = document.querySelector('#redForceshieldSoulingLegendary100');

	var redShieldRare120_200 = document.querySelector('#redShieldRare120-200');
	var redShieldEpic120_200 = document.querySelector('#redShieldEpic120-200');
	var redShieldUnique120_200 = document.querySelector('#redShieldUnique120-200');
	var redShieldLegendary120_200 = document.querySelector('#redShieldLegendary120-200');

	var redHatRare120_200 = document.querySelector('#redHatRare120-200');
	var redHatEpic120_200 = document.querySelector('#redHatEpic120-200');
	var redHatUnique120_200 = document.querySelector('#redHatUnique120-200');
	var redHatLegendary120_200 = document.querySelector('#redHatLegendary120-200');

	var redHatRare201_250 = document.querySelector('#redHatRare201-250');
	var redHatEpic201_250 = document.querySelector('#redHatEpic201-250');
	var redHatUnique201_250 = document.querySelector('#redHatUnique201-250');
	var redHatLegendary201_250 = document.querySelector('#redHatLegendary201-250');

	var redTopRare120_200 = document.querySelector('#redTopRare120-200');
	var redTopEpic120_200 = document.querySelector('#redTopEpic120-200');
	var redTopUnique120_200 = document.querySelector('#redTopUnique120-200');
	var redTopLegendary120_200 = document.querySelector('#redTopLegendary120-200');

	var redTopRare201_250 = document.querySelector('#redTopRare201-250');
	var redTopEpic201_250 = document.querySelector('#redTopEpic201-250');
	var redTopUnique201_250 = document.querySelector('#redTopUnique201-250');
	var redTopLegendary201_250 = document.querySelector('#redTopLegendary201-250');

	var redDressRare120_200 = document.querySelector('#redDressRare120-200');
	var redDressEpic120_200 = document.querySelector('#redDressEpic120-200');
	var redDressUnique120_200 = document.querySelector('#redDressUnique120-200');
	var redDressLegendary120_200 = document.querySelector('#redDressLegendary120-200');

	var redBottomRare120_200 = document.querySelector('#redBottomRare120-200');
	var redBottomEpic120_200 = document.querySelector('#redBottomEpic120-200');
	var redBottomUnique120_200 = document.querySelector('#redBottomUnique120-200');
	var redBottomLegendary120_200 = document.querySelector('#redBottomLegendary120-200');

	var redBottomRare201_250 = document.querySelector('#redBottomRare201-250');
	var redBottomEpic201_250 = document.querySelector('#redBottomEpic201-250');
	var redBottomUnique201_250 = document.querySelector('#redBottomUnique201-250');
	var redBottomLegendary201_250 = document.querySelector('#redBottomLegendary201-250');

	var redShoesRare120_200 = document.querySelector('#redShoesRare120-200');
	var redShoesEpic120_200 = document.querySelector('#redShoesEpic120-200');
	var redShoesUnique120_200 = document.querySelector('#redShoesUnique120-200');
	var redShoesLegendary120_200 = document.querySelector('#redShoesLegendary120-200');

	var redGlovesRare120_200 = document.querySelector('#redGlovesRare120-200');
	var redGlovesEpic120_200 = document.querySelector('#redGlovesEpic120-200');
	var redGlovesUnique120_200 = document.querySelector('#redGlovesUnique120-200');
	var redGlovesLegendary120_200 = document.querySelector('#redGlovesLegendary120-200');

	var redCloakRare120_200 = document.querySelector('#redCloakRare120-200');
	var redCloakEpic120_200 = document.querySelector('#redCloakEpic120-200');
	var redCloakUnique120_200 = document.querySelector('#redCloakUnique120-200');
	var redCloakLegendary120_200 = document.querySelector('#redCloakLegendary120-200');

	var redBeltRare120_200 = document.querySelector('#redBeltRare120-200');
	var redBeltEpic120_200 = document.querySelector('#redBeltEpic120-200');
	var redBeltUnique120_200 = document.querySelector('#redBeltUnique120-200');
	var redBeltLegendary120_200 = document.querySelector('#redBeltLegendary120-200');

	var redShoulderDecorationRare120_200 = document.querySelector('#redShoulderDecorationRare120-200');
	var redShoulderDecorationEpic120_200 = document.querySelector('#redShoulderDecorationEpic120-200');
	var redShoulderDecorationUnique120_200 = document.querySelector('#redShoulderDecorationUnique120-200');
	var redShoulderDecorationLegendary120_200 = document.querySelector('#redShoulderDecorationLegendary120-200');

	var redFaceDecorationRare120_200 = document.querySelector('#redFaceDecorationRare120-200');
	var redFaceDecorationEpic120_200 = document.querySelector('#redFaceDecorationEpic120-200');
	var redFaceDecorationUnique120_200 = document.querySelector('#redFaceDecorationUnique120-200');
	var redFaceDecorationLegendary120_200 = document.querySelector('#redFaceDecorationLegendary120-200');

	var redEyeDecorationRare120_200 = document.querySelector('#redEyeDecorationRare120-200');
	var redEyeDecorationEpic120_200 = document.querySelector('#redEyeDecorationEpic120-200');
	var redEyeDecorationUnique120_200 = document.querySelector('#redEyeDecorationUnique120-200');
	var redEyeDecorationLegendary120_200 = document.querySelector('#redEyeDecorationLegendary120-200');

	var redEarringRare120_200 = document.querySelector('#redEarringRare120-200');
	var redEarringEpic120_200 = document.querySelector('#redEarringEpic120-200');
	var redEarringUnique120_200 = document.querySelector('#redEarringUnique120-200');
	var redEarringLegendary120_200 = document.querySelector('#redEarringLegendary120-200');

	var redRingRare120_200 = document.querySelector('#redRingRare120-200');
	var redRingEpic120_200 = document.querySelector('#redRingEpic120-200');
	var redRingUnique120_200 = document.querySelector('#redRingUnique120-200');
	var redRingLegendary120_200 = document.querySelector('#redRingLegendary120-200');

	var redPendantRare120_200 = document.querySelector('#redPendantRare120-200');
	var redPendantEpic120_200 = document.querySelector('#redPendantEpic120-200');
	var redPendantUnique120_200 = document.querySelector('#redPendantUnique120-200');
	var redPendantLegendary120_200 = document.querySelector('#redPendantLegendary120-200');

	var redMachineHeartRare30 = document.querySelector('#redMachineHeartRare30');
	var redMachineHeartEpic30 = document.querySelector('#redMachineHeartEpic30');
	var redMachineHeartUnique30 = document.querySelector('#redMachineHeartUnique30');
	var redMachineHeartLegendary30 = document.querySelector('#redMachineHeartLegendary30');

	var redMachineHeartRare100 = document.querySelector('#redMachineHeartRare100');
	var redMachineHeartEpic100 = document.querySelector('#redMachineHeartEpic100');
	var redMachineHeartUnique100 = document.querySelector('#redMachineHeartUnique100');
	var redMachineHeartLegendary100 = document.querySelector('#redMachineHeartLegendary100');

	var redMachineHeartRare120 = document.querySelector('#redMachineHeartRare120');
	var redMachineHeartEpic120 = document.querySelector('#redMachineHeartEpic120');
	var redMachineHeartUnique120 = document.querySelector('#redMachineHeartUnique120');
	var redMachineHeartLegendary120 = document.querySelector('#redMachineHeartLegendary120');

	/*		black		*/
	var blackWeaponRare120_200 = document.querySelector('#blackWeaponRare120-200');
	var blackWeaponEpic120_200 = document.querySelector('#blackWeaponEpic120-200');
	var blackWeaponUnique120_200 = document.querySelector('#blackWeaponUnique120-200');
	var blackWeaponLegendary120_200 = document.querySelector('#blackWeaponLegendary120-200');

	var blackEmblemRare100 = document.querySelector('#blackEmblemRare100');
	var blackEmblemEpic100 = document.querySelector('#blackEmblemEpic100');
	var blackEmblemUnique100 = document.querySelector('#blackEmblemUnique100');
	var blackEmblemLegendary100 = document.querySelector('#blackEmblemLegendary100');

	var blackEmblemRare120_200 = document.querySelector('#blackEmblemRare120-200');
	var blackEmblemEpic120_200 = document.querySelector('#blackEmblemEpic120-200');
	var blackEmblemUnique120_200 = document.querySelector('#blackEmblemUnique120-200');
	var blackEmblemLegendary120_200 = document.querySelector('#blackEmblemLegendary120-200');

	var blackAdditionalWeaponRare100 = document.querySelector('#blackAdditionalWeaponRare100');
	var blackAdditionalWeaponEpic100 = document.querySelector('#blackAdditionalWeaponEpic100');
	var blackAdditionalWeaponUnique100 = document.querySelector('#blackAdditionalWeaponUnique100');
	var blackAdditionalWeaponLegendary100 = document.querySelector('#blackAdditionalWeaponLegendary100');

	var blackForceshieldSoulingRare100 = document.querySelector('#blackForceshieldSoulingRare100');
	var blackForceshieldSoulingEpic100 = document.querySelector('#blackForceshieldSoulingEpic100');
	var blackForceshieldSoulingUnique100 = document.querySelector('#blackForceshieldSoulingUnique100');
	var blackForceshieldSoulingLegendary100 = document.querySelector('#blackForceshieldSoulingLegendary100');

	var blackShieldRare120_200 = document.querySelector('#blackShieldRare120-200');
	var blackShieldEpic120_200 = document.querySelector('#blackShieldEpic120-200');
	var blackShieldUnique120_200 = document.querySelector('#blackShieldUnique120-200');
	var blackShieldLegendary120_200 = document.querySelector('#blackShieldLegendary120-200');

	var blackHatRare120_200 = document.querySelector('#blackHatRare120-200');
	var blackHatEpic120_200 = document.querySelector('#blackHatEpic120-200');
	var blackHatUnique120_200 = document.querySelector('#blackHatUnique120-200');
	var blackHatLegendary120_200 = document.querySelector('#blackHatLegendary120-200');

	var blackHatRare201_250 = document.querySelector('#blackHatRare201-250');
	var blackHatEpic201_250 = document.querySelector('#blackHatEpic201-250');
	var blackHatUnique201_250 = document.querySelector('#blackHatUnique201-250');
	var blackHatLegendary201_250 = document.querySelector('#blackHatLegendary201-250');

	var blackTopRare120_200 = document.querySelector('#blackTopRare120-200');
	var blackTopEpic120_200 = document.querySelector('#blackTopEpic120-200');
	var blackTopUnique120_200 = document.querySelector('#blackTopUnique120-200');
	var blackTopLegendary120_200 = document.querySelector('#blackTopLegendary120-200');

	var blackTopRare201_250 = document.querySelector('#blackTopRare201-250');
	var blackTopEpic201_250 = document.querySelector('#blackTopEpic201-250');
	var blackTopUnique201_250 = document.querySelector('#blackTopUnique201-250');
	var blackTopLegendary201_250 = document.querySelector('#blackTopLegendary201-250');

	var blackDressRare120_200 = document.querySelector('#blackDressRare120-200');
	var blackDressEpic120_200 = document.querySelector('#blackDressEpic120-200');
	var blackDressUnique120_200 = document.querySelector('#blackDressUnique120-200');
	var blackDressLegendary120_200 = document.querySelector('#blackDressLegendary120-200');

	var blackBottomRare120_200 = document.querySelector('#blackBottomRare120-200');
	var blackBottomEpic120_200 = document.querySelector('#blackBottomEpic120-200');
	var blackBottomUnique120_200 = document.querySelector('#blackBottomUnique120-200');
	var blackBottomLegendary120_200 = document.querySelector('#blackBottomLegendary120-200');

	var blackBottomRare201_250 = document.querySelector('#blackBottomRare201-250');
	var blackBottomEpic201_250 = document.querySelector('#blackBottomEpic201-250');
	var blackBottomUnique201_250 = document.querySelector('#blackBottomUnique201-250');
	var blackBottomLegendary201_250 = document.querySelector('#blackBottomLegendary201-250');

	var blackShoesRare120_200 = document.querySelector('#blackShoesRare120-200');
	var blackShoesEpic120_200 = document.querySelector('#blackShoesEpic120-200');
	var blackShoesUnique120_200 = document.querySelector('#blackShoesUnique120-200');
	var blackShoesLegendary120_200 = document.querySelector('#blackShoesLegendary120-200');

	var blackGlovesRare120_200 = document.querySelector('#blackGlovesRare120-200');
	var blackGlovesEpic120_200 = document.querySelector('#blackGlovesEpic120-200');
	var blackGlovesUnique120_200 = document.querySelector('#blackGlovesUnique120-200');
	var blackGlovesLegendary120_200 = document.querySelector('#blackGlovesLegendary120-200');

	var blackCloakRare120_200 = document.querySelector('#blackCloakRare120-200');
	var blackCloakEpic120_200 = document.querySelector('#blackCloakEpic120-200');
	var blackCloakUnique120_200 = document.querySelector('#blackCloakUnique120-200');
	var blackCloakLegendary120_200 = document.querySelector('#blackCloakLegendary120-200');

	var blackBeltRare120_200 = document.querySelector('#blackBeltRare120-200');
	var blackBeltEpic120_200 = document.querySelector('#blackBeltEpic120-200');
	var blackBeltUnique120_200 = document.querySelector('#blackBeltUnique120-200');
	var blackBeltLegendary120_200 = document.querySelector('#blackBeltLegendary120-200');

	var blackShoulderDecorationRare120_200 = document.querySelector('#blackShoulderDecorationRare120-200');
	var blackShoulderDecorationEpic120_200 = document.querySelector('#blackShoulderDecorationEpic120-200');
	var blackShoulderDecorationUnique120_200 = document.querySelector('#blackShoulderDecorationUnique120-200');
	var blackShoulderDecorationLegendary120_200 = document.querySelector('#blackShoulderDecorationLegendary120-200');

	var blackFaceDecorationRare120_200 = document.querySelector('#blackFaceDecorationRare120-200');
	var blackFaceDecorationEpic120_200 = document.querySelector('#blackFaceDecorationEpic120-200');
	var blackFaceDecorationUnique120_200 = document.querySelector('#blackFaceDecorationUnique120-200');
	var blackFaceDecorationLegendary120_200 = document.querySelector('#blackFaceDecorationLegendary120-200');

	var blackEyeDecorationRare120_200 = document.querySelector('#blackEyeDecorationRare120-200');
	var blackEyeDecorationEpic120_200 = document.querySelector('#blackEyeDecorationEpic120-200');
	var blackEyeDecorationUnique120_200 = document.querySelector('#blackEyeDecorationUnique120-200');
	var blackEyeDecorationLegendary120_200 = document.querySelector('#blackEyeDecorationLegendary120-200');

	var blackEarringRare120_200 = document.querySelector('#blackEarringRare120-200');
	var blackEarringEpic120_200 = document.querySelector('#blackEarringEpic120-200');
	var blackEarringUnique120_200 = document.querySelector('#blackEarringUnique120-200');
	var blackEarringLegendary120_200 = document.querySelector('#blackEarringLegendary120-200');

	var blackRingRare120_200 = document.querySelector('#blackRingRare120-200');
	var blackRingEpic120_200 = document.querySelector('#blackRingEpic120-200');
	var blackRingUnique120_200 = document.querySelector('#blackRingUnique120-200');
	var blackRingLegendary120_200 = document.querySelector('#blackRingLegendary120-200');

	var blackPendantRare120_200 = document.querySelector('#blackPendantRare120-200');
	var blackPendantEpic120_200 = document.querySelector('#blackPendantEpic120-200');
	var blackPendantUnique120_200 = document.querySelector('#blackPendantUnique120-200');
	var blackPendantLegendary120_200 = document.querySelector('#blackPendantLegendary120-200');

	var blackMachineHeartRare30 = document.querySelector('#blackMachineHeartRare30');
	var blackMachineHeartEpic30 = document.querySelector('#blackMachineHeartEpic30');
	var blackMachineHeartUnique30 = document.querySelector('#blackMachineHeartUnique30');
	var blackMachineHeartLegendary30 = document.querySelector('#blackMachineHeartLegendary30');

	var blackMachineHeartRare100 = document.querySelector('#blackMachineHeartRare100');
	var blackMachineHeartEpic100 = document.querySelector('#blackMachineHeartEpic100');
	var blackMachineHeartUnique100 = document.querySelector('#blackMachineHeartUnique100');
	var blackMachineHeartLegendary100 = document.querySelector('#blackMachineHeartLegendary100');

	var blackMachineHeartRare120 = document.querySelector('#blackMachineHeartRare120');
	var blackMachineHeartEpic120 = document.querySelector('#blackMachineHeartEpic120');
	var blackMachineHeartUnique120 = document.querySelector('#blackMachineHeartUnique120');
	var blackMachineHeartLegendary120 = document.querySelector('#blackMachineHeartLegendary120');

	/*		additional		*/
	var additionalWeaponRare120_200 = document.querySelector('#additionalWeaponRare120-200');
	var additionalWeaponEpic120_200 = document.querySelector('#additionalWeaponEpic120-200');
	var additionalWeaponUnique120_200 = document.querySelector('#additionalWeaponUnique120-200');
	var additionalWeaponLegendary120_200 = document.querySelector('#additionalWeaponLegendary120-200');

	var additionalEmblemRare100 = document.querySelector('#additionalEmblemRare100');
	var additionalEmblemEpic100 = document.querySelector('#additionalEmblemEpic100');
	var additionalEmblemUnique100 = document.querySelector('#additionalEmblemUnique100');
	var additionalEmblemLegendary100 = document.querySelector('#additionalEmblemLegendary100');

	var additionalEmblemRare120_200 = document.querySelector('#additionalEmblemRare120-200');
	var additionalEmblemEpic120_200 = document.querySelector('#additionalEmblemEpic120-200');
	var additionalEmblemUnique120_200 = document.querySelector('#additionalEmblemUnique120-200');
	var additionalEmblemLegendary120_200 = document.querySelector('#additionalEmblemLegendary120-200');

	var additionalAdditionalWeaponRare100 = document.querySelector('#additionalAdditionalWeaponRare100');
	var additionalAdditionalWeaponEpic100 = document.querySelector('#additionalAdditionalWeaponEpic100');
	var additionalAdditionalWeaponUnique100 = document.querySelector('#additionalAdditionalWeaponUnique100');
	var additionalAdditionalWeaponLegendary100 = document.querySelector('#additionalAdditionalWeaponLegendary100');

	var additionalForceshieldSoulingRare100 = document.querySelector('#additionalForceshieldSoulingRare100');
	var additionalForceshieldSoulingEpic100 = document.querySelector('#additionalForceshieldSoulingEpic100');
	var additionalForceshieldSoulingUnique100 = document.querySelector('#additionalForceshieldSoulingUnique100');
	var additionalForceshieldSoulingLegendary100 = document.querySelector('#additionalForceshieldSoulingLegendary100');

	var additionalShieldRare120_200 = document.querySelector('#additionalShieldRare120-200');
	var additionalShieldEpic120_200 = document.querySelector('#additionalShieldEpic120-200');
	var additionalShieldUnique120_200 = document.querySelector('#additionalShieldUnique120-200');
	var additionalShieldLegendary120_200 = document.querySelector('#additionalShieldLegendary120-200');

	var additionalHatRare120_200 = document.querySelector('#additionalHatRare120-200');
	var additionalHatEpic120_200 = document.querySelector('#additionalHatEpic120-200');
	var additionalHatUnique120_200 = document.querySelector('#additionalHatUnique120-200');
	var additionalHatLegendary120_200 = document.querySelector('#additionalHatLegendary120-200');

	var additionalHatRare201_250 = document.querySelector('#additionalHatRare201-250');
	var additionalHatEpic201_250 = document.querySelector('#additionalHatEpic201-250');
	var additionalHatUnique201_250 = document.querySelector('#additionalHatUnique201-250');
	var additionalHatLegendary201_250 = document.querySelector('#additionalHatLegendary201-250');

	var additionalTopRare120_200 = document.querySelector('#additionalTopRare120-200');
	var additionalTopEpic120_200 = document.querySelector('#additionalTopEpic120-200');
	var additionalTopUnique120_200 = document.querySelector('#additionalTopUnique120-200');
	var additionalTopLegendary120_200 = document.querySelector('#additionalTopLegendary120-200');

	var additionalTopRare201_250 = document.querySelector('#additionalTopRare201-250');
	var additionalTopEpic201_250 = document.querySelector('#additionalTopEpic201-250');
	var additionalTopUnique201_250 = document.querySelector('#additionalTopUnique201-250');
	var additionalTopLegendary201_250 = document.querySelector('#additionalTopLegendary201-250');

	var additionalDressRare120_200 = document.querySelector('#additionalDressRare120-200');
	var additionalDressEpic120_200 = document.querySelector('#additionalDressEpic120-200');
	var additionalDressUnique120_200 = document.querySelector('#additionalDressUnique120-200');
	var additionalDressLegendary120_200 = document.querySelector('#additionalDressLegendary120-200');

	var additionalBottomRare120_200 = document.querySelector('#additionalBottomRare120-200');
	var additionalBottomEpic120_200 = document.querySelector('#additionalBottomEpic120-200');
	var additionalBottomUnique120_200 = document.querySelector('#additionalBottomUnique120-200');
	var additionalBottomLegendary120_200 = document.querySelector('#additionalBottomLegendary120-200');

	var additionalBottomRare201_250 = document.querySelector('#additionalBottomRare201-250');
	var additionalBottomEpic201_250 = document.querySelector('#additionalBottomEpic201-250');
	var additionalBottomUnique201_250 = document.querySelector('#additionalBottomUnique201-250');
	var additionalBottomLegendary201_250 = document.querySelector('#additionalBottomLegendary201-250');

	var additionalShoesRare120_200 = document.querySelector('#additionalShoesRare120-200');
	var additionalShoesEpic120_200 = document.querySelector('#additionalShoesEpic120-200');
	var additionalShoesUnique120_200 = document.querySelector('#additionalShoesUnique120-200');
	var additionalShoesLegendary120_200 = document.querySelector('#additionalShoesLegendary120-200');

	var additionalGlovesRare120_200 = document.querySelector('#additionalGlovesRare120-200');
	var additionalGlovesEpic120_200 = document.querySelector('#additionalGlovesEpic120-200');
	var additionalGlovesUnique120_200 = document.querySelector('#additionalGlovesUnique120-200');
	var additionalGlovesLegendary120_200 = document.querySelector('#additionalGlovesLegendary120-200');

	var additionalCloakRare120_200 = document.querySelector('#additionalCloakRare120-200');
	var additionalCloakEpic120_200 = document.querySelector('#additionalCloakEpic120-200');
	var additionalCloakUnique120_200 = document.querySelector('#additionalCloakUnique120-200');
	var additionalCloakLegendary120_200 = document.querySelector('#additionalCloakLegendary120-200');

	var additionalBeltRare120_200 = document.querySelector('#additionalBeltRare120-200');
	var additionalBeltEpic120_200 = document.querySelector('#additionalBeltEpic120-200');
	var additionalBeltUnique120_200 = document.querySelector('#additionalBeltUnique120-200');
	var additionalBeltLegendary120_200 = document.querySelector('#additionalBeltLegendary120-200');

	var additionalShoulderDecorationRare120_200 = document.querySelector('#additionalShoulderDecorationRare120-200');
	var additionalShoulderDecorationEpic120_200 = document.querySelector('#additionalShoulderDecorationEpic120-200');
	var additionalShoulderDecorationUnique120_200 = document.querySelector('#additionalShoulderDecorationUnique120-200');
	var additionalShoulderDecorationLegendary120_200 = document.querySelector('#additionalShoulderDecorationLegendary120-200');

	var additionalFaceDecorationRare120_200 = document.querySelector('#additionalFaceDecorationRare120-200');
	var additionalFaceDecorationEpic120_200 = document.querySelector('#additionalFaceDecorationEpic120-200');
	var additionalFaceDecorationUnique120_200 = document.querySelector('#additionalFaceDecorationUnique120-200');
	var additionalFaceDecorationLegendary120_200 = document.querySelector('#additionalFaceDecorationLegendary120-200');

	var additionalEyeDecorationRare120_200 = document.querySelector('#additionalEyeDecorationRare120-200');
	var additionalEyeDecorationEpic120_200 = document.querySelector('#additionalEyeDecorationEpic120-200');
	var additionalEyeDecorationUnique120_200 = document.querySelector('#additionalEyeDecorationUnique120-200');
	var additionalEyeDecorationLegendary120_200 = document.querySelector('#additionalEyeDecorationLegendary120-200');

	var additionalEarringRare120_200 = document.querySelector('#additionalEarringRare120-200');
	var additionalEarringEpic120_200 = document.querySelector('#additionalEarringEpic120-200');
	var additionalEarringUnique120_200 = document.querySelector('#additionalEarringUnique120-200');
	var additionalEarringLegendary120_200 = document.querySelector('#additionalEarringLegendary120-200');

	var additionalRingRare120_200 = document.querySelector('#additionalRingRare120-200');
	var additionalRingEpic120_200 = document.querySelector('#additionalRingEpic120-200');
	var additionalRingUnique120_200 = document.querySelector('#additionalRingUnique120-200');
	var additionalRingLegendary120_200 = document.querySelector('#additionalRingLegendary120-200');

	var additionalPendantRare120_200 = document.querySelector('#additionalPendantRare120-200');
	var additionalPendantEpic120_200 = document.querySelector('#additionalPendantEpic120-200');
	var additionalPendantUnique120_200 = document.querySelector('#additionalPendantUnique120-200');
	var additionalPendantLegendary120_200 = document.querySelector('#additionalPendantLegendary120-200');

	var additionalMachineHeartRare30 = document.querySelector('#additionalMachineHeartRare30');
	var additionalMachineHeartEpic30 = document.querySelector('#additionalMachineHeartEpic30');
	var additionalMachineHeartUnique30 = document.querySelector('#additionalMachineHeartUnique30');
	var additionalMachineHeartLegendary30 = document.querySelector('#additionalMachineHeartLegendary30');

	var additionalMachineHeartRare100 = document.querySelector('#additionalMachineHeartRare100');
	var additionalMachineHeartEpic100 = document.querySelector('#additionalMachineHeartEpic100');
	var additionalMachineHeartUnique100 = document.querySelector('#additionalMachineHeartUnique100');
	var additionalMachineHeartLegendary100 = document.querySelector('#additionalMachineHeartLegendary100');

	var additionalMachineHeartRare120 = document.querySelector('#additionalMachineHeartRare120');
	var additionalMachineHeartEpic120 = document.querySelector('#additionalMachineHeartEpic120');
	var additionalMachineHeartUnique120 = document.querySelector('#additionalMachineHeartUnique120');
	var additionalMachineHeartLegendary120 = document.querySelector('#additionalMachineHeartLegendary120');

	/*		expert		*/
	var expertWeaponRare120_200 = document.querySelector('#expertWeaponRare120-200');
	var expertWeaponEpic120_200 = document.querySelector('#expertWeaponEpic120-200');
	var expertWeaponUnique120_200 = document.querySelector('#expertWeaponUnique120-200');

	var expertEmblemRare100 = document.querySelector('#expertEmblemRare100');
	var expertEmblemEpic100 = document.querySelector('#expertEmblemEpic100');
	var expertEmblemUnique100 = document.querySelector('#expertEmblemUnique100');

	var expertEmblemRare120_200 = document.querySelector('#expertEmblemRare120-200');
	var expertEmblemEpic120_200 = document.querySelector('#expertEmblemEpic120-200');
	var expertEmblemUnique120_200 = document.querySelector('#expertEmblemUnique120-200');

	var expertAdditionalWeaponRare100 = document.querySelector('#expertAdditionalWeaponRare100');
	var expertAdditionalWeaponEpic100 = document.querySelector('#expertAdditionalWeaponEpic100');
	var expertAdditionalWeaponUnique100 = document.querySelector('#expertAdditionalWeaponUnique100');

	var expertForceshieldSoulingRare100 = document.querySelector('#expertForceshieldSoulingRare100');
	var expertForceshieldSoulingEpic100 = document.querySelector('#expertForceshieldSoulingEpic100');
	var expertForceshieldSoulingUnique100 = document.querySelector('#expertForceshieldSoulingUnique100');

	var expertShieldRare120_200 = document.querySelector('#expertShieldRare120-200');
	var expertShieldEpic120_200 = document.querySelector('#expertShieldEpic120-200');
	var expertShieldUnique120_200 = document.querySelector('#expertShieldUnique120-200');

	var expertHatRare120_200 = document.querySelector('#expertHatRare120-200');
	var expertHatEpic120_200 = document.querySelector('#expertHatEpic120-200');
	var expertHatUnique120_200 = document.querySelector('#expertHatUnique120-200');

	var expertHatRare201_250 = document.querySelector('#expertHatRare201-250');
	var expertHatEpic201_250 = document.querySelector('#expertHatEpic201-250');
	var expertHatUnique201_250 = document.querySelector('#expertHatUnique201-250');

	var expertTopRare120_200 = document.querySelector('#expertTopRare120-200');
	var expertTopEpic120_200 = document.querySelector('#expertTopEpic120-200');
	var expertTopUnique120_200 = document.querySelector('#expertTopUnique120-200');

	var expertTopRare201_250 = document.querySelector('#expertTopRare201-250');
	var expertTopEpic201_250 = document.querySelector('#expertTopEpic201-250');
	var expertTopUnique201_250 = document.querySelector('#expertTopUnique201-250');

	var expertDressRare120_200 = document.querySelector('#expertDressRare120-200');
	var expertDressEpic120_200 = document.querySelector('#expertDressEpic120-200');
	var expertDressUnique120_200 = document.querySelector('#expertDressUnique120-200');

	var expertBottomRare120_200 = document.querySelector('#expertBottomRare120-200');
	var expertBottomEpic120_200 = document.querySelector('#expertBottomEpic120-200');
	var expertBottomUnique120_200 = document.querySelector('#expertBottomUnique120-200');

	var expertBottomRare201_250 = document.querySelector('#expertBottomRare201-250');
	var expertBottomEpic201_250 = document.querySelector('#expertBottomEpic201-250');
	var expertBottomUnique201_250 = document.querySelector('#expertBottomUnique201-250');

	var expertShoesRare120_200 = document.querySelector('#expertShoesRare120-200');
	var expertShoesEpic120_200 = document.querySelector('#expertShoesEpic120-200');
	var expertShoesUnique120_200 = document.querySelector('#expertShoesUnique120-200');

	var expertGlovesRare120_200 = document.querySelector('#expertGlovesRare120-200');
	var expertGlovesEpic120_200 = document.querySelector('#expertGlovesEpic120-200');
	var expertGlovesUnique120_200 = document.querySelector('#expertGlovesUnique120-200');

	var expertCloakRare120_200 = document.querySelector('#expertCloakRare120-200');
	var expertCloakEpic120_200 = document.querySelector('#expertCloakEpic120-200');
	var expertCloakUnique120_200 = document.querySelector('#expertCloakUnique120-200');

	var expertBeltRare120_200 = document.querySelector('#expertBeltRare120-200');
	var expertBeltEpic120_200 = document.querySelector('#expertBeltEpic120-200');
	var expertBeltUnique120_200 = document.querySelector('#expertBeltUnique120-200');

	var expertShoulderDecorationRare120_200 = document.querySelector('#expertShoulderDecorationRare120-200');
	var expertShoulderDecorationEpic120_200 = document.querySelector('#expertShoulderDecorationEpic120-200');
	var expertShoulderDecorationUnique120_200 = document.querySelector('#expertShoulderDecorationUnique120-200');

	var expertFaceDecorationRare120_200 = document.querySelector('#expertFaceDecorationRare120-200');
	var expertFaceDecorationEpic120_200 = document.querySelector('#expertFaceDecorationEpic120-200');
	var expertFaceDecorationUnique120_200 = document.querySelector('#expertFaceDecorationUnique120-200');

	var expertEyeDecorationRare120_200 = document.querySelector('#expertEyeDecorationRare120-200');
	var expertEyeDecorationEpic120_200 = document.querySelector('#expertEyeDecorationEpic120-200');
	var expertEyeDecorationUnique120_200 = document.querySelector('#expertEyeDecorationUnique120-200');

	var expertEarringRare120_200 = document.querySelector('#expertEarringRare120-200');
	var expertEarringEpic120_200 = document.querySelector('#expertEarringEpic120-200');
	var expertEarringUnique120_200 = document.querySelector('#expertEarringUnique120-200');

	var expertRingRare120_200 = document.querySelector('#expertRingRare120-200');
	var expertRingEpic120_200 = document.querySelector('#expertRingEpic120-200');
	var expertRingUnique120_200 = document.querySelector('#expertRingUnique120-200');

	var expertPendantRare120_200 = document.querySelector('#expertPendantRare120-200');
	var expertPendantEpic120_200 = document.querySelector('#expertPendantEpic120-200');
	var expertPendantUnique120_200 = document.querySelector('#expertPendantUnique120-200');

	var expertMachineHeartRare30 = document.querySelector('#expertMachineHeartRare30');
	var expertMachineHeartEpic30 = document.querySelector('#expertMachineHeartEpic30');
	var expertMachineHeartUnique30 = document.querySelector('#expertMachineHeartUnique30');

	var expertMachineHeartRare100 = document.querySelector('#expertMachineHeartRare100');
	var expertMachineHeartEpic100 = document.querySelector('#expertMachineHeartEpic100');
	var expertMachineHeartUnique100 = document.querySelector('#expertMachineHeartUnique100');

	var expertMachineHeartRare120 = document.querySelector('#expertMachineHeartRare120');
	var expertMachineHeartEpic120 = document.querySelector('#expertMachineHeartEpic120');
	var expertMachineHeartUnique120 = document.querySelector('#expertMachineHeartUnique120');

	/*		master		*/
	var masterWeaponRare120_200 = document.querySelector('#masterWeaponRare120-200');
	var masterWeaponEpic120_200 = document.querySelector('#masterWeaponEpic120-200');
	var masterWeaponUnique120_200 = document.querySelector('#masterWeaponUnique120-200');
	var masterWeaponLegendary120_200 = document.querySelector('#masterWeaponLegendary120-200');

	var masterEmblemRare100 = document.querySelector('#masterEmblemRare100');
	var masterEmblemEpic100 = document.querySelector('#masterEmblemEpic100');
	var masterEmblemUnique100 = document.querySelector('#masterEmblemUnique100');
	var masterEmblemLegendary100 = document.querySelector('#masterEmblemLegendary100');

	var masterEmblemRare120_200 = document.querySelector('#masterEmblemRare120-200');
	var masterEmblemEpic120_200 = document.querySelector('#masterEmblemEpic120-200');
	var masterEmblemUnique120_200 = document.querySelector('#masterEmblemUnique120-200');
	var masterEmblemLegendary120_200 = document.querySelector('#masterEmblemLegendary120-200');

	var masterAdditionalWeaponRare100 = document.querySelector('#masterAdditionalWeaponRare100');
	var masterAdditionalWeaponEpic100 = document.querySelector('#masterAdditionalWeaponEpic100');
	var masterAdditionalWeaponUnique100 = document.querySelector('#masterAdditionalWeaponUnique100');
	var masterAdditionalWeaponLegendary100 = document.querySelector('#masterAdditionalWeaponLegendary100');

	var masterForceshieldSoulingRare100 = document.querySelector('#masterForceshieldSoulingRare100');
	var masterForceshieldSoulingEpic100 = document.querySelector('#masterForceshieldSoulingEpic100');
	var masterForceshieldSoulingUnique100 = document.querySelector('#masterForceshieldSoulingUnique100');
	var masterForceshieldSoulingLegendary100 = document.querySelector('#masterForceshieldSoulingLegendary100');

	var masterShieldRare120_200 = document.querySelector('#masterShieldRare120-200');
	var masterShieldEpic120_200 = document.querySelector('#masterShieldEpic120-200');
	var masterShieldUnique120_200 = document.querySelector('#masterShieldUnique120-200');
	var masterShieldLegendary120_200 = document.querySelector('#masterShieldLegendary120-200');

	var masterHatRare120_200 = document.querySelector('#masterHatRare120-200');
	var masterHatEpic120_200 = document.querySelector('#masterHatEpic120-200');
	var masterHatUnique120_200 = document.querySelector('#masterHatUnique120-200');
	var masterHatLegendary120_200 = document.querySelector('#masterHatLegendary120-200');

	var masterHatRare201_250 = document.querySelector('#masterHatRare201-250');
	var masterHatEpic201_250 = document.querySelector('#masterHatEpic201-250');
	var masterHatUnique201_250 = document.querySelector('#masterHatUnique201-250');
	var masterHatLegendary201_250 = document.querySelector('#masterHatLegendary201-250');

	var masterTopRare120_200 = document.querySelector('#masterTopRare120-200');
	var masterTopEpic120_200 = document.querySelector('#masterTopEpic120-200');
	var masterTopUnique120_200 = document.querySelector('#masterTopUnique120-200');
	var masterTopLegendary120_200 = document.querySelector('#masterTopLegendary120-200');

	var masterTopRare201_250 = document.querySelector('#masterTopRare201-250');
	var masterTopEpic201_250 = document.querySelector('#masterTopEpic201-250');
	var masterTopUnique201_250 = document.querySelector('#masterTopUnique201-250');
	var masterTopLegendary201_250 = document.querySelector('#masterTopLegendary201-250');

	var masterDressRare120_200 = document.querySelector('#masterDressRare120-200');
	var masterDressEpic120_200 = document.querySelector('#masterDressEpic120-200');
	var masterDressUnique120_200 = document.querySelector('#masterDressUnique120-200');
	var masterDressLegendary120_200 = document.querySelector('#masterDressLegendary120-200');

	var masterBottomRare120_200 = document.querySelector('#masterBottomRare120-200');
	var masterBottomEpic120_200 = document.querySelector('#masterBottomEpic120-200');
	var masterBottomUnique120_200 = document.querySelector('#masterBottomUnique120-200');
	var masterBottomLegendary120_200 = document.querySelector('#masterBottomLegendary120-200');

	var masterBottomRare201_250 = document.querySelector('#masterBottomRare201-250');
	var masterBottomEpic201_250 = document.querySelector('#masterBottomEpic201-250');
	var masterBottomUnique201_250 = document.querySelector('#masterBottomUnique201-250');
	var masterBottomLegendary201_250 = document.querySelector('#masterBottomLegendary201-250');

	var masterShoesRare120_200 = document.querySelector('#masterShoesRare120-200');
	var masterShoesEpic120_200 = document.querySelector('#masterShoesEpic120-200');
	var masterShoesUnique120_200 = document.querySelector('#masterShoesUnique120-200');
	var masterShoesLegendary120_200 = document.querySelector('#masterShoesLegendary120-200');

	var masterGlovesRare120_200 = document.querySelector('#masterGlovesRare120-200');
	var masterGlovesEpic120_200 = document.querySelector('#masterGlovesEpic120-200');
	var masterGlovesUnique120_200 = document.querySelector('#masterGlovesUnique120-200');
	var masterGlovesLegendary120_200 = document.querySelector('#masterGlovesLegendary120-200');

	var masterCloakRare120_200 = document.querySelector('#masterCloakRare120-200');
	var masterCloakEpic120_200 = document.querySelector('#masterCloakEpic120-200');
	var masterCloakUnique120_200 = document.querySelector('#masterCloakUnique120-200');
	var masterCloakLegendary120_200 = document.querySelector('#masterCloakLegendary120-200');

	var masterBeltRare120_200 = document.querySelector('#masterBeltRare120-200');
	var masterBeltEpic120_200 = document.querySelector('#masterBeltEpic120-200');
	var masterBeltUnique120_200 = document.querySelector('#masterBeltUnique120-200');
	var masterBeltLegendary120_200 = document.querySelector('#masterBeltLegendary120-200');

	var masterShoulderDecorationRare120_200 = document.querySelector('#masterShoulderDecorationRare120-200');
	var masterShoulderDecorationEpic120_200 = document.querySelector('#masterShoulderDecorationEpic120-200');
	var masterShoulderDecorationUnique120_200 = document.querySelector('#masterShoulderDecorationUnique120-200');
	var masterShoulderDecorationLegendary120_200 = document.querySelector('#masterShoulderDecorationLegendary120-200');

	var masterFaceDecorationRare120_200 = document.querySelector('#masterFaceDecorationRare120-200');
	var masterFaceDecorationEpic120_200 = document.querySelector('#masterFaceDecorationEpic120-200');
	var masterFaceDecorationUnique120_200 = document.querySelector('#masterFaceDecorationUnique120-200');
	var masterFaceDecorationLegendary120_200 = document.querySelector('#masterFaceDecorationLegendary120-200');

	var masterEyeDecorationRare120_200 = document.querySelector('#masterEyeDecorationRare120-200');
	var masterEyeDecorationEpic120_200 = document.querySelector('#masterEyeDecorationEpic120-200');
	var masterEyeDecorationUnique120_200 = document.querySelector('#masterEyeDecorationUnique120-200');
	var masterEyeDecorationLegendary120_200 = document.querySelector('#masterEyeDecorationLegendary120-200');

	var masterEarringRare120_200 = document.querySelector('#masterEarringRare120-200');
	var masterEarringEpic120_200 = document.querySelector('#masterEarringEpic120-200');
	var masterEarringUnique120_200 = document.querySelector('#masterEarringUnique120-200');
	var masterEarringLegendary120_200 = document.querySelector('#masterEarringLegendary120-200');

	var masterRingRare120_200 = document.querySelector('#masterRingRare120-200');
	var masterRingEpic120_200 = document.querySelector('#masterRingEpic120-200');
	var masterRingUnique120_200 = document.querySelector('#masterRingUnique120-200');
	var masterRingLegendary120_200 = document.querySelector('#masterRingLegendary120-200');

	var masterPendantRare120_200 = document.querySelector('#masterPendantRare120-200');
	var masterPendantEpic120_200 = document.querySelector('#masterPendantEpic120-200');
	var masterPendantUnique120_200 = document.querySelector('#masterPendantUnique120-200');
	var masterPendantLegendary120_200 = document.querySelector('#masterPendantLegendary120-200');

	var masterMachineHeartRare30 = document.querySelector('#masterMachineHeartRare30');
	var masterMachineHeartEpic30 = document.querySelector('#masterMachineHeartEpic30');
	var masterMachineHeartUnique30 = document.querySelector('#masterMachineHeartUnique30');
	var masterMachineHeartLegendary30 = document.querySelector('#masterMachineHeartLegendary30');

	var masterMachineHeartRare100 = document.querySelector('#masterMachineHeartRare100');
	var masterMachineHeartEpic100 = document.querySelector('#masterMachineHeartEpic100');
	var masterMachineHeartUnique100 = document.querySelector('#masterMachineHeartUnique100');
	var masterMachineHeartLegendary100 = document.querySelector('#masterMachineHeartLegendary100');

	var masterMachineHeartRare120 = document.querySelector('#masterMachineHeartRare120');
	var masterMachineHeartEpic120 = document.querySelector('#masterMachineHeartEpic120');
	var masterMachineHeartUnique120 = document.querySelector('#masterMachineHeartUnique120');
	var masterMachineHeartLegendary120 = document.querySelector('#masterMachineHeartLegendary120');

	/*		questionable		*/
	var questionableWeaponRare120_200 = document.querySelector('#questionableWeaponRare120-200');
	var questionableWeaponEpic120_200 = document.querySelector('#questionableWeaponEpic120-200');

	var questionableEmblemRare100 = document.querySelector('#questionableEmblemRare100');
	var questionableEmblemEpic100 = document.querySelector('#questionableEmblemEpic100');

	var questionableEmblemRare120_200 = document.querySelector('#questionableEmblemRare120-200');
	var questionableEmblemEpic120_200 = document.querySelector('#questionableEmblemEpic120-200');

	var questionableAdditionalWeaponRare100 = document.querySelector('#questionableAdditionalWeaponRare100');
	var questionableAdditionalWeaponEpic100 = document.querySelector('#questionableAdditionalWeaponEpic100');

	var questionableForceshieldSoulingRare100 = document.querySelector('#questionableForceshieldSoulingRare100');
	var questionableForceshieldSoulingEpic100 = document.querySelector('#questionableForceshieldSoulingEpic100');

	var questionableShieldRare120_200 = document.querySelector('#questionableShieldRare120-200');
	var questionableShieldEpic120_200 = document.querySelector('#questionableShieldEpic120-200');

	var questionableHatRare120_200 = document.querySelector('#questionableHatRare120-200');
	var questionableHatEpic120_200 = document.querySelector('#questionableHatEpic120-200');

	var questionableHatRare201_250 = document.querySelector('#questionableHatRare201-250');
	var questionableHatEpic201_250 = document.querySelector('#questionableHatEpic201-250');

	var questionableTopRare120_200 = document.querySelector('#questionableTopRare120-200');
	var questionableTopEpic120_200 = document.querySelector('#questionableTopEpic120-200');

	var questionableTopRare201_250 = document.querySelector('#questionableTopRare201-250');
	var questionableTopEpic201_250 = document.querySelector('#questionableTopEpic201-250');

	var questionableDressRare120_200 = document.querySelector('#questionableDressRare120-200');
	var questionableDressEpic120_200 = document.querySelector('#questionableDressEpic120-200');

	var questionableBottomRare120_200 = document.querySelector('#questionableBottomRare120-200');
	var questionableBottomEpic120_200 = document.querySelector('#questionableBottomEpic120-200');

	var questionableBottomRare201_250 = document.querySelector('#questionableBottomRare201-250');
	var questionableBottomEpic201_250 = document.querySelector('#questionableBottomEpic201-250');

	var questionableShoesRare120_200 = document.querySelector('#questionableShoesRare120-200');
	var questionableShoesEpic120_200 = document.querySelector('#questionableShoesEpic120-200');

	var questionableGlovesRare120_200 = document.querySelector('#questionableGlovesRare120-200');
	var questionableGlovesEpic120_200 = document.querySelector('#questionableGlovesEpic120-200');

	var questionableCloakRare120_200 = document.querySelector('#questionableCloakRare120-200');
	var questionableCloakEpic120_200 = document.querySelector('#questionableCloakEpic120-200');

	var questionableBeltRare120_200 = document.querySelector('#questionableBeltRare120-200');
	var questionableBeltEpic120_200 = document.querySelector('#questionableBeltEpic120-200');

	var questionableShoulderDecorationRare120_200 = document.querySelector('#questionableShoulderDecorationRare120-200');
	var questionableShoulderDecorationEpic120_200 = document.querySelector('#questionableShoulderDecorationEpic120-200');

	var questionableFaceDecorationRare120_200 = document.querySelector('#questionableFaceDecorationRare120-200');
	var questionableFaceDecorationEpic120_200 = document.querySelector('#questionableFaceDecorationEpic120-200');

	var questionableEyeDecorationRare120_200 = document.querySelector('#questionableEyeDecorationRare120-200');
	var questionableEyeDecorationEpic120_200 = document.querySelector('#questionableEyeDecorationEpic120-200');

	var questionableEarringRare120_200 = document.querySelector('#questionableEarringRare120-200');
	var questionableEarringEpic120_200 = document.querySelector('#questionableEarringEpic120-200');

	var questionableRingRare120_200 = document.querySelector('#questionableRingRare120-200');
	var questionableRingEpic120_200 = document.querySelector('#questionableRingEpic120-200');

	var questionablePendantRare120_200 = document.querySelector('#questionablePendantRare120-200');
	var questionablePendantEpic120_200 = document.querySelector('#questionablePendantEpic120-200');

	var questionableMachineHeartRare30 = document.querySelector('#questionableMachineHeartRare30');
	var questionableMachineHeartEpic30 = document.querySelector('#questionableMachineHeartEpic30');

	var questionableMachineHeartRare100 = document.querySelector('#questionableMachineHeartRare100');
	var questionableMachineHeartEpic100 = document.querySelector('#questionableMachineHeartEpic100');

	var questionableMachineHeartRare120 = document.querySelector('#questionableMachineHeartRare120');
	var questionableMachineHeartEpic120 = document.querySelector('#questionableMachineHeartEpic120');


	/*		questionableAdditional		*/
	var questionableAdditionalWeaponRare120_200 = document.querySelector('#questionableAdditionalWeaponRare120-200');
	var questionableAdditionalWeaponEpic120_200 = document.querySelector('#questionableAdditionalWeaponEpic120-200');

	var questionableAdditionalEmblemRare100 = document.querySelector('#questionableAdditionalEmblemRare100');
	var questionableAdditionalEmblemEpic100 = document.querySelector('#questionableAdditionalEmblemEpic100');

	var questionableAdditionalEmblemRare120_200 = document.querySelector('#questionableAdditionalEmblemRare120-200');
	var questionableAdditionalEmblemEpic120_200 = document.querySelector('#questionableAdditionalEmblemEpic120-200');

	var questionableAdditionalAdditionalWeaponRare100 = document.querySelector('#questionableAdditionalAdditionalWeaponRare100');
	var questionableAdditionalAdditionalWeaponEpic100 = document.querySelector('#questionableAdditionalAdditionalWeaponEpic100');

	var questionableAdditionalForceshieldSoulingRare100 = document.querySelector('#questionableAdditionalForceshieldSoulingRare100');
	var questionableAdditionalForceshieldSoulingEpic100 = document.querySelector('#questionableAdditionalForceshieldSoulingEpic100');

	var questionableAdditionalShieldRare120_200 = document.querySelector('#questionableAdditionalShieldRare120-200');
	var questionableAdditionalShieldEpic120_200 = document.querySelector('#questionableAdditionalShieldEpic120-200');

	var questionableAdditionalHatRare120_200 = document.querySelector('#questionableAdditionalHatRare120-200');
	var questionableAdditionalHatEpic120_200 = document.querySelector('#questionableAdditionalHatEpic120-200');

	var questionableAdditionalHatRare201_250 = document.querySelector('#questionableAdditionalHatRare201-250');
	var questionableAdditionalHatEpic201_250 = document.querySelector('#questionableAdditionalHatEpic201-250');

	var questionableAdditionalTopRare120_200 = document.querySelector('#questionableAdditionalTopRare120-200');
	var questionableAdditionalTopEpic120_200 = document.querySelector('#questionableAdditionalTopEpic120-200');

	var questionableAdditionalTopRare201_250 = document.querySelector('#questionableAdditionalTopRare201-250');
	var questionableAdditionalTopEpic201_250 = document.querySelector('#questionableAdditionalTopEpic201-250');

	var questionableAdditionalDressRare120_200 = document.querySelector('#questionableAdditionalDressRare120-200');
	var questionableAdditionalDressEpic120_200 = document.querySelector('#questionableAdditionalDressEpic120-200');

	var questionableAdditionalBottomRare120_200 = document.querySelector('#questionableAdditionalBottomRare120-200');
	var questionableAdditionalBottomEpic120_200 = document.querySelector('#questionableAdditionalBottomEpic120-200');

	var questionableAdditionalBottomRare201_250 = document.querySelector('#questionableAdditionalBottomRare201-250');
	var questionableAdditionalBottomEpic201_250 = document.querySelector('#questionableAdditionalBottomEpic201-250');

	var questionableAdditionalShoesRare120_200 = document.querySelector('#questionableAdditionalShoesRare120-200');
	var questionableAdditionalShoesEpic120_200 = document.querySelector('#questionableAdditionalShoesEpic120-200');

	var questionableAdditionalGlovesRare120_200 = document.querySelector('#questionableAdditionalGlovesRare120-200');
	var questionableAdditionalGlovesEpic120_200 = document.querySelector('#questionableAdditionalGlovesEpic120-200');

	var questionableAdditionalCloakRare120_200 = document.querySelector('#questionableAdditionalCloakRare120-200');
	var questionableAdditionalCloakEpic120_200 = document.querySelector('#questionableAdditionalCloakEpic120-200');

	var questionableAdditionalBeltRare120_200 = document.querySelector('#questionableAdditionalBeltRare120-200');
	var questionableAdditionalBeltEpic120_200 = document.querySelector('#questionableAdditionalBeltEpic120-200');

	var questionableAdditionalShoulderDecorationRare120_200 = document.querySelector('#questionableAdditionalShoulderDecorationRare120-200');
	var questionableAdditionalShoulderDecorationEpic120_200 = document.querySelector('#questionableAdditionalShoulderDecorationEpic120-200');

	var questionableAdditionalFaceDecorationRare120_200 = document.querySelector('#questionableAdditionalFaceDecorationRare120-200');
	var questionableAdditionalFaceDecorationEpic120_200 = document.querySelector('#questionableAdditionalFaceDecorationEpic120-200');

	var questionableAdditionalEyeDecorationRare120_200 = document.querySelector('#questionableAdditionalEyeDecorationRare120-200');
	var questionableAdditionalEyeDecorationEpic120_200 = document.querySelector('#questionableAdditionalEyeDecorationEpic120-200');

	var questionableAdditionalEarringRare120_200 = document.querySelector('#questionableAdditionalEarringRare120-200');
	var questionableAdditionalEarringEpic120_200 = document.querySelector('#questionableAdditionalEarringEpic120-200');

	var questionableAdditionalRingRare120_200 = document.querySelector('#questionableAdditionalRingRare120-200');
	var questionableAdditionalRingEpic120_200 = document.querySelector('#questionableAdditionalRingEpic120-200');

	var questionableAdditionalPendantRare120_200 = document.querySelector('#questionableAdditionalPendantRare120-200');
	var questionableAdditionalPendantEpic120_200 = document.querySelector('#questionableAdditionalPendantEpic120-200');

	var questionableAdditionalMachineHeartRare30 = document.querySelector('#questionableAdditionalMachineHeartRare30');
	var questionableAdditionalMachineHeartEpic30 = document.querySelector('#questionableAdditionalMachineHeartEpic30');

	var questionableAdditionalMachineHeartRare100 = document.querySelector('#questionableAdditionalMachineHeartRare100');
	var questionableAdditionalMachineHeartEpic100 = document.querySelector('#questionableAdditionalMachineHeartEpic100');

	var questionableAdditionalMachineHeartRare120 = document.querySelector('#questionableAdditionalMachineHeartRare120');
	var questionableAdditionalMachineHeartEpic120 = document.querySelector('#questionableAdditionalMachineHeartEpic120');

