if(cubeValue == 'questionable'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = questionableWeaponEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableWeaponEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableWeaponEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableWeaponEpic120_200Value2;
			s3AllPer = questionableWeaponEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = questionableEmblemEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEmblemEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEmblemEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEmblemEpic100Value2;
			s3AllPer = questionableEmblemEpic100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = questionableEmblemEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEmblemEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEmblemEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEmblemEpic120_200Value2;
			s3AllPer = questionableEmblemEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalWeaponEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalWeaponEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalWeaponEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalWeaponEpic100Value2;
			s3AllPer = questionableAdditionalWeaponEpic100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = questionableForceshieldSoulingEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableForceshieldSoulingEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableForceshieldSoulingEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableForceshieldSoulingEpic100Value2;
			s3AllPer = questionableForceshieldSoulingEpic100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = questionableShieldEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableShieldEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableShieldEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableShieldEpic120_200Value2;
			s3AllPer = questionableShieldEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = questionableHatEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableHatEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableHatEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableHatEpic120_200Value2;
			s3AllPer = questionableHatEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableHatEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableHatEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableHatEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableHatEpic201_250Value2;
			s3AllPer = questionableHatEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = questionableTopEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableTopEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableTopEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableTopEpic120_200Value2;
			s3AllPer = questionableTopEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableTopEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableTopEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableTopEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableTopEpic201_250Value2;
			s3AllPer = questionableTopEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = questionableDressEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableDressEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableDressEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableDressEpic120_200Value2;
			s3AllPer = questionableDressEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = questionableBottomEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableBottomEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableBottomEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableBottomEpic120_200Value2;
			s3AllPer = questionableBottomEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableBottomEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableBottomEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableBottomEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableBottomEpic201_250Value2;
			s3AllPer = questionableBottomEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = questionableShoesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableShoesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableShoesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableShoesEpic120_200Value2;
			s3AllPer = questionableShoesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = questionableGlovesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableGlovesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableGlovesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableGlovesEpic120_200Value2;
			s3AllPer = questionableGlovesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = questionableCloakEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableCloakEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableCloakEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableCloakEpic120_200Value2;
			s3AllPer = questionableCloakEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = questionableBeltEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableBeltEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableBeltEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableBeltEpic120_200Value2;
			s3AllPer = questionableBeltEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableShoulderDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableShoulderDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableShoulderDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableShoulderDecorationEpic120_200Value2;
			s3AllPer = questionableShoulderDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableFaceDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableFaceDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableFaceDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableFaceDecorationEpic120_200Value2;
			s3AllPer = questionableFaceDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableEyeDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEyeDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEyeDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEyeDecorationEpic120_200Value2;
			s3AllPer = questionableEyeDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = questionableEarringEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEarringEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEarringEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEarringEpic120_200Value2;
			s3AllPer = questionableEarringEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = questionableRingEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableRingEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableRingEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableRingEpic120_200Value2;
			s3AllPer = questionableRingEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = questionablePendantEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionablePendantEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionablePendantEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionablePendantEpic120_200Value2;
			s3AllPer = questionablePendantEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = questionableMachineHeartEpic30Value1[s1Index*2+1].innerHTML;
			s2Per = questionableMachineHeartEpic30Value2[s2Index*2+1].innerHTML;
			s3Per = questionableMachineHeartEpic30Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableMachineHeartEpic30Value2;
			s3AllPer = questionableMachineHeartEpic30Value3;
		}
		else if(levelValue == '100'){
			s1Per = questionableMachineHeartEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableMachineHeartEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableMachineHeartEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableMachineHeartEpic100Value2;
			s3AllPer = questionableMachineHeartEpic100Value3;
		}
		else if(levelValue == '120'){
			s1Per = questionableMachineHeartEpic120Value1[s1Index*2+1].innerHTML;
			s2Per = questionableMachineHeartEpic120Value2[s2Index*2+1].innerHTML;
			s3Per = questionableMachineHeartEpic120Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableMachineHeartEpic120Value2;
			s3AllPer = questionableMachineHeartEpic120Value3;
		}
	}
}

