if(cubeValue == 'red'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = redWeaponEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redWeaponEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redWeaponEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redWeaponEpic120_200Value2;
			s3AllPer = redWeaponEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = redEmblemEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemEpic100Value2;
			s3AllPer = redEmblemEpic100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = redEmblemEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemEpic120_200Value2;
			s3AllPer = redEmblemEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = redAdditionalWeaponEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = redAdditionalWeaponEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = redAdditionalWeaponEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redAdditionalWeaponEpic100Value2;
			s3AllPer = redAdditionalWeaponEpic100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = redForceshieldSoulingEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = redForceshieldSoulingEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = redForceshieldSoulingEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redForceshieldSoulingEpic100Value2;
			s3AllPer = redForceshieldSoulingEpic100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = redShieldEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShieldEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShieldEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShieldEpic120_200Value2;
			s3AllPer = redShieldEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = redHatEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redHatEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redHatEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatEpic120_200Value2;
			s3AllPer = redHatEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redHatEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redHatEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redHatEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatEpic201_250Value2;
			s3AllPer = redHatEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = redTopEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redTopEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redTopEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopEpic120_200Value2;
			s3AllPer = redTopEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redTopEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redTopEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redTopEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopEpic201_250Value2;
			s3AllPer = redTopEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = redDressEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redDressEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redDressEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redDressEpic120_200Value2;
			s3AllPer = redDressEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = redBottomEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomEpic120_200Value2;
			s3AllPer = redBottomEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redBottomEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomEpic201_250Value2;
			s3AllPer = redBottomEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = redShoesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoesEpic120_200Value2;
			s3AllPer = redShoesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = redGlovesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redGlovesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redGlovesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redGlovesEpic120_200Value2;
			s3AllPer = redGlovesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = redCloakEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redCloakEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redCloakEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redCloakEpic120_200Value2;
			s3AllPer = redCloakEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = redBeltEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBeltEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBeltEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBeltEpic120_200Value2;
			s3AllPer = redBeltEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = redShoulderDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoulderDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoulderDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoulderDecorationEpic120_200Value2;
			s3AllPer = redShoulderDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = redFaceDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redFaceDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redFaceDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redFaceDecorationEpic120_200Value2;
			s3AllPer = redFaceDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = redEyeDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEyeDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEyeDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEyeDecorationEpic120_200Value2;
			s3AllPer = redEyeDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = redEarringEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEarringEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEarringEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEarringEpic120_200Value2;
			s3AllPer = redEarringEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = redRingEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redRingEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redRingEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redRingEpic120_200Value2;
			s3AllPer = redRingEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = redPendantEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redPendantEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redPendantEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redPendantEpic120_200Value2;
			s3AllPer = redPendantEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = redMachineHeartEpic30Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartEpic30Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartEpic30Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartEpic30Value2;
			s3AllPer = redMachineHeartEpic30Value3;
		}
		else if(levelValue == '100'){
			s1Per = redMachineHeartEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartEpic100Value2;
			s3AllPer = redMachineHeartEpic100Value3;
		}
		else if(levelValue == '120'){
			s1Per = redMachineHeartEpic120Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartEpic120Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartEpic120Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartEpic120Value2;
			s3AllPer = redMachineHeartEpic120Value3;
		}
	}
}

