if(cubeValue == 'master'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = masterWeaponEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterWeaponEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterWeaponEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterWeaponEpic120_200Value2;
			s3AllPer = masterWeaponEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = masterEmblemEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemEpic100Value2;
			s3AllPer = masterEmblemEpic100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = masterEmblemEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemEpic120_200Value2;
			s3AllPer = masterEmblemEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = masterAdditionalWeaponEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = masterAdditionalWeaponEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = masterAdditionalWeaponEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterAdditionalWeaponEpic100Value2;
			s3AllPer = masterAdditionalWeaponEpic100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = masterForceshieldSoulingEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = masterForceshieldSoulingEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = masterForceshieldSoulingEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterForceshieldSoulingEpic100Value2;
			s3AllPer = masterForceshieldSoulingEpic100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = masterShieldEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShieldEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShieldEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShieldEpic120_200Value2;
			s3AllPer = masterShieldEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = masterHatEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatEpic120_200Value2;
			s3AllPer = masterHatEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterHatEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatEpic201_250Value2;
			s3AllPer = masterHatEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = masterTopEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopEpic120_200Value2;
			s3AllPer = masterTopEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterTopEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopEpic201_250Value2;
			s3AllPer = masterTopEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = masterDressEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterDressEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterDressEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterDressEpic120_200Value2;
			s3AllPer = masterDressEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = masterBottomEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomEpic120_200Value2;
			s3AllPer = masterBottomEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterBottomEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomEpic201_250Value2;
			s3AllPer = masterBottomEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = masterShoesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoesEpic120_200Value2;
			s3AllPer = masterShoesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = masterGlovesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterGlovesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterGlovesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterGlovesEpic120_200Value2;
			s3AllPer = masterGlovesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = masterCloakEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterCloakEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterCloakEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterCloakEpic120_200Value2;
			s3AllPer = masterCloakEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = masterBeltEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBeltEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBeltEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBeltEpic120_200Value2;
			s3AllPer = masterBeltEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterShoulderDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoulderDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoulderDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoulderDecorationEpic120_200Value2;
			s3AllPer = masterShoulderDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterFaceDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterFaceDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterFaceDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterFaceDecorationEpic120_200Value2;
			s3AllPer = masterFaceDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterEyeDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEyeDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEyeDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEyeDecorationEpic120_200Value2;
			s3AllPer = masterEyeDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = masterEarringEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEarringEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEarringEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEarringEpic120_200Value2;
			s3AllPer = masterEarringEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = masterRingEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterRingEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterRingEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterRingEpic120_200Value2;
			s3AllPer = masterRingEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = masterPendantEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterPendantEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterPendantEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterPendantEpic120_200Value2;
			s3AllPer = masterPendantEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = masterMachineHeartEpic30Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartEpic30Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartEpic30Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartEpic30Value2;
			s3AllPer = masterMachineHeartEpic30Value3;
		}
		else if(levelValue == '100'){
			s1Per = masterMachineHeartEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartEpic100Value2;
			s3AllPer = masterMachineHeartEpic100Value3;
		}
		else if(levelValue == '120'){
			s1Per = masterMachineHeartEpic120Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartEpic120Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartEpic120Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartEpic120Value2;
			s3AllPer = masterMachineHeartEpic120Value3;
		}
	}
}

