if(cubeValue == 'additional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = additionalWeaponEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalWeaponEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalWeaponEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalWeaponEpic120_200Value2;
			s3AllPer = additionalWeaponEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = additionalEmblemEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemEpic100Value2;
			s3AllPer = additionalEmblemEpic100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = additionalEmblemEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemEpic120_200Value2;
			s3AllPer = additionalEmblemEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = additionalAdditionalWeaponEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalAdditionalWeaponEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalAdditionalWeaponEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalAdditionalWeaponEpic100Value2;
			s3AllPer = additionalAdditionalWeaponEpic100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = additionalForceshieldSoulingEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalForceshieldSoulingEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalForceshieldSoulingEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalForceshieldSoulingEpic100Value2;
			s3AllPer = additionalForceshieldSoulingEpic100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = additionalShieldEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShieldEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShieldEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShieldEpic120_200Value2;
			s3AllPer = additionalShieldEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = additionalHatEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatEpic120_200Value2;
			s3AllPer = additionalHatEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalHatEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatEpic201_250Value2;
			s3AllPer = additionalHatEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = additionalTopEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopEpic120_200Value2;
			s3AllPer = additionalTopEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalTopEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopEpic201_250Value2;
			s3AllPer = additionalTopEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = additionalDressEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalDressEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalDressEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalDressEpic120_200Value2;
			s3AllPer = additionalDressEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = additionalBottomEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomEpic120_200Value2;
			s3AllPer = additionalBottomEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalBottomEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomEpic201_250Value2;
			s3AllPer = additionalBottomEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = additionalShoesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoesEpic120_200Value2;
			s3AllPer = additionalShoesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = additionalGlovesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalGlovesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalGlovesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalGlovesEpic120_200Value2;
			s3AllPer = additionalGlovesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = additionalCloakEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalCloakEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalCloakEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalCloakEpic120_200Value2;
			s3AllPer = additionalCloakEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = additionalBeltEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBeltEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBeltEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBeltEpic120_200Value2;
			s3AllPer = additionalBeltEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalShoulderDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoulderDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoulderDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoulderDecorationEpic120_200Value2;
			s3AllPer = additionalShoulderDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalFaceDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalFaceDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalFaceDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalFaceDecorationEpic120_200Value2;
			s3AllPer = additionalFaceDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalEyeDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEyeDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEyeDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEyeDecorationEpic120_200Value2;
			s3AllPer = additionalEyeDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = additionalEarringEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEarringEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEarringEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEarringEpic120_200Value2;
			s3AllPer = additionalEarringEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = additionalRingEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalRingEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalRingEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalRingEpic120_200Value2;
			s3AllPer = additionalRingEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = additionalPendantEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalPendantEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalPendantEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalPendantEpic120_200Value2;
			s3AllPer = additionalPendantEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = additionalMachineHeartEpic30Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartEpic30Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartEpic30Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartEpic30Value2;
			s3AllPer = additionalMachineHeartEpic30Value3;
		}
		else if(levelValue == '100'){
			s1Per = additionalMachineHeartEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartEpic100Value2;
			s3AllPer = additionalMachineHeartEpic100Value3;
		}
		else if(levelValue == '120'){
			s1Per = additionalMachineHeartEpic120Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartEpic120Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartEpic120Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartEpic120Value2;
			s3AllPer = additionalMachineHeartEpic120Value3;
		}
	}
}

