if(cubeValue == 'questionableAdditional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalWeaponEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalWeaponEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalWeaponEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalWeaponEpic120_200Value2;
			s3AllPer = questionableAdditionalWeaponEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalEmblemEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEmblemEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEmblemEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEmblemEpic100Value2;
			s3AllPer = questionableAdditionalEmblemEpic100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = questionableAdditionalEmblemEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEmblemEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEmblemEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEmblemEpic120_200Value2;
			s3AllPer = questionableAdditionalEmblemEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalAdditionalWeaponEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalAdditionalWeaponEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalAdditionalWeaponEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalAdditionalWeaponEpic100Value2;
			s3AllPer = questionableAdditionalAdditionalWeaponEpic100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalForceshieldSoulingEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalForceshieldSoulingEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalForceshieldSoulingEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalForceshieldSoulingEpic100Value2;
			s3AllPer = questionableAdditionalForceshieldSoulingEpic100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalShieldEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalShieldEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalShieldEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalShieldEpic120_200Value2;
			s3AllPer = questionableAdditionalShieldEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalHatEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalHatEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalHatEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalHatEpic120_200Value2;
			s3AllPer = questionableAdditionalHatEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableAdditionalHatEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalHatEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalHatEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalHatEpic201_250Value2;
			s3AllPer = questionableAdditionalHatEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalTopEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalTopEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalTopEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalTopEpic120_200Value2;
			s3AllPer = questionableAdditionalTopEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableAdditionalTopEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalTopEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalTopEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalTopEpic201_250Value2;
			s3AllPer = questionableAdditionalTopEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalDressEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalDressEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalDressEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalDressEpic120_200Value2;
			s3AllPer = questionableAdditionalDressEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalBottomEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalBottomEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalBottomEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalBottomEpic120_200Value2;
			s3AllPer = questionableAdditionalBottomEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableAdditionalBottomEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalBottomEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalBottomEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalBottomEpic201_250Value2;
			s3AllPer = questionableAdditionalBottomEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalShoesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalShoesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalShoesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalShoesEpic120_200Value2;
			s3AllPer = questionableAdditionalShoesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalGlovesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalGlovesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalGlovesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalGlovesEpic120_200Value2;
			s3AllPer = questionableAdditionalGlovesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalCloakEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalCloakEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalCloakEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalCloakEpic120_200Value2;
			s3AllPer = questionableAdditionalCloakEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalBeltEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalBeltEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalBeltEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalBeltEpic120_200Value2;
			s3AllPer = questionableAdditionalBeltEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalShoulderDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalShoulderDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalShoulderDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalShoulderDecorationEpic120_200Value2;
			s3AllPer = questionableAdditionalShoulderDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalFaceDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalFaceDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalFaceDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalFaceDecorationEpic120_200Value2;
			s3AllPer = questionableAdditionalFaceDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalEyeDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEyeDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEyeDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEyeDecorationEpic120_200Value2;
			s3AllPer = questionableAdditionalEyeDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalEarringEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEarringEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEarringEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEarringEpic120_200Value2;
			s3AllPer = questionableAdditionalEarringEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalRingEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalRingEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalRingEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalRingEpic120_200Value2;
			s3AllPer = questionableAdditionalRingEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalPendantEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalPendantEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalPendantEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalPendantEpic120_200Value2;
			s3AllPer = questionableAdditionalPendantEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = questionableAdditionalMachineHeartEpic30Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalMachineHeartEpic30Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalMachineHeartEpic30Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalMachineHeartEpic30Value2;
			s3AllPer = questionableAdditionalMachineHeartEpic30Value3;
		}
		else if(levelValue == '100'){
			s1Per = questionableAdditionalMachineHeartEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalMachineHeartEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalMachineHeartEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalMachineHeartEpic100Value2;
			s3AllPer = questionableAdditionalMachineHeartEpic100Value3;
		}
		else if(levelValue == '120'){
			s1Per = questionableAdditionalMachineHeartEpic120Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalMachineHeartEpic120Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalMachineHeartEpic120Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalMachineHeartEpic120Value2;
			s3AllPer = questionableAdditionalMachineHeartEpic120Value3;
		}
	}
}

