if(cubeValue == 'expert'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = expertWeaponEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertWeaponEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertWeaponEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertWeaponEpic120_200Value2;
			s3AllPer = expertWeaponEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = expertEmblemEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = expertEmblemEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = expertEmblemEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEmblemEpic100Value2;
			s3AllPer = expertEmblemEpic100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = expertEmblemEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEmblemEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEmblemEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEmblemEpic120_200Value2;
			s3AllPer = expertEmblemEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = expertAdditionalWeaponEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = expertAdditionalWeaponEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = expertAdditionalWeaponEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertAdditionalWeaponEpic100Value2;
			s3AllPer = expertAdditionalWeaponEpic100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = expertForceshieldSoulingEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = expertForceshieldSoulingEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = expertForceshieldSoulingEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertForceshieldSoulingEpic100Value2;
			s3AllPer = expertForceshieldSoulingEpic100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = expertShieldEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShieldEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShieldEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShieldEpic120_200Value2;
			s3AllPer = expertShieldEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = expertHatEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertHatEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertHatEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertHatEpic120_200Value2;
			s3AllPer = expertHatEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertHatEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertHatEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertHatEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertHatEpic201_250Value2;
			s3AllPer = expertHatEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = expertTopEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertTopEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertTopEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertTopEpic120_200Value2;
			s3AllPer = expertTopEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertTopEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertTopEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertTopEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertTopEpic201_250Value2;
			s3AllPer = expertTopEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = expertDressEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertDressEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertDressEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertDressEpic120_200Value2;
			s3AllPer = expertDressEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = expertBottomEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertBottomEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertBottomEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBottomEpic120_200Value2;
			s3AllPer = expertBottomEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertBottomEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertBottomEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertBottomEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBottomEpic201_250Value2;
			s3AllPer = expertBottomEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = expertShoesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShoesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShoesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShoesEpic120_200Value2;
			s3AllPer = expertShoesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = expertGlovesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertGlovesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertGlovesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertGlovesEpic120_200Value2;
			s3AllPer = expertGlovesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = expertCloakEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertCloakEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertCloakEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertCloakEpic120_200Value2;
			s3AllPer = expertCloakEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = expertBeltEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertBeltEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertBeltEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBeltEpic120_200Value2;
			s3AllPer = expertBeltEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertShoulderDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShoulderDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShoulderDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShoulderDecorationEpic120_200Value2;
			s3AllPer = expertShoulderDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertFaceDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertFaceDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertFaceDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertFaceDecorationEpic120_200Value2;
			s3AllPer = expertFaceDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertEyeDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEyeDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEyeDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEyeDecorationEpic120_200Value2;
			s3AllPer = expertEyeDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = expertEarringEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEarringEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEarringEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEarringEpic120_200Value2;
			s3AllPer = expertEarringEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = expertRingEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertRingEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertRingEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertRingEpic120_200Value2;
			s3AllPer = expertRingEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = expertPendantEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertPendantEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertPendantEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertPendantEpic120_200Value2;
			s3AllPer = expertPendantEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = expertMachineHeartEpic30Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartEpic30Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartEpic30Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartEpic30Value2;
			s3AllPer = expertMachineHeartEpic30Value3;
		}
		else if(levelValue == '100'){
			s1Per = expertMachineHeartEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartEpic100Value2;
			s3AllPer = expertMachineHeartEpic100Value3;
		}
		else if(levelValue == '120'){
			s1Per = expertMachineHeartEpic120Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartEpic120Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartEpic120Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartEpic120Value2;
			s3AllPer = expertMachineHeartEpic120Value3;
		}
	}
}

