if(cubeValue == 'black'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = blackWeaponEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackWeaponEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackWeaponEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackWeaponEpic120_200Value2;
			s3AllPer = blackWeaponEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = blackEmblemEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemEpic100Value2;
			s3AllPer = blackEmblemEpic100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = blackEmblemEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemEpic120_200Value2;
			s3AllPer = blackEmblemEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = blackAdditionalWeaponEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = blackAdditionalWeaponEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = blackAdditionalWeaponEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackAdditionalWeaponEpic100Value2;
			s3AllPer = blackAdditionalWeaponEpic100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = blackForceshieldSoulingEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = blackForceshieldSoulingEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = blackForceshieldSoulingEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackForceshieldSoulingEpic100Value2;
			s3AllPer = blackForceshieldSoulingEpic100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = blackShieldEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShieldEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShieldEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShieldEpic120_200Value2;
			s3AllPer = blackShieldEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = blackHatEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatEpic120_200Value2;
			s3AllPer = blackHatEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackHatEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatEpic201_250Value2;
			s3AllPer = blackHatEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = blackTopEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopEpic120_200Value2;
			s3AllPer = blackTopEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackTopEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopEpic201_250Value2;
			s3AllPer = blackTopEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = blackDressEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackDressEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackDressEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackDressEpic120_200Value2;
			s3AllPer = blackDressEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = blackBottomEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomEpic120_200Value2;
			s3AllPer = blackBottomEpic120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackBottomEpic201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomEpic201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomEpic201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomEpic201_250Value2;
			s3AllPer = blackBottomEpic201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = blackShoesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoesEpic120_200Value2;
			s3AllPer = blackShoesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = blackGlovesEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackGlovesEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackGlovesEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackGlovesEpic120_200Value2;
			s3AllPer = blackGlovesEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = blackCloakEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackCloakEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackCloakEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackCloakEpic120_200Value2;
			s3AllPer = blackCloakEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = blackBeltEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBeltEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBeltEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBeltEpic120_200Value2;
			s3AllPer = blackBeltEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackShoulderDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoulderDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoulderDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoulderDecorationEpic120_200Value2;
			s3AllPer = blackShoulderDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackFaceDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackFaceDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackFaceDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackFaceDecorationEpic120_200Value2;
			s3AllPer = blackFaceDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackEyeDecorationEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEyeDecorationEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEyeDecorationEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEyeDecorationEpic120_200Value2;
			s3AllPer = blackEyeDecorationEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = blackEarringEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEarringEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEarringEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEarringEpic120_200Value2;
			s3AllPer = blackEarringEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = blackRingEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackRingEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackRingEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackRingEpic120_200Value2;
			s3AllPer = blackRingEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = blackPendantEpic120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackPendantEpic120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackPendantEpic120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackPendantEpic120_200Value2;
			s3AllPer = blackPendantEpic120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = blackMachineHeartEpic30Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartEpic30Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartEpic30Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartEpic30Value2;
			s3AllPer = blackMachineHeartEpic30Value3;
		}
		else if(levelValue == '100'){
			s1Per = blackMachineHeartEpic100Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartEpic100Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartEpic100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartEpic100Value2;
			s3AllPer = blackMachineHeartEpic100Value3;
		}
		else if(levelValue == '120'){
			s1Per = blackMachineHeartEpic120Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartEpic120Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartEpic120Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartEpic120Value2;
			s3AllPer = blackMachineHeartEpic120Value3;
		}
	}
}

