if(cubeValue == 'master'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = masterWeaponLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterWeaponLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterWeaponLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterWeaponLegendary120_200Value2;
			s3AllPer = masterWeaponLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = masterEmblemLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemLegendary100Value2;
			s3AllPer = masterEmblemLegendary100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = masterEmblemLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemLegendary120_200Value2;
			s3AllPer = masterEmblemLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = masterAdditionalWeaponLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = masterAdditionalWeaponLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = masterAdditionalWeaponLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterAdditionalWeaponLegendary100Value2;
			s3AllPer = masterAdditionalWeaponLegendary100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = masterForceshieldSoulingLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = masterForceshieldSoulingLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = masterForceshieldSoulingLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterForceshieldSoulingLegendary100Value2;
			s3AllPer = masterForceshieldSoulingLegendary100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = masterShieldLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShieldLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShieldLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShieldLegendary120_200Value2;
			s3AllPer = masterShieldLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = masterHatLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatLegendary120_200Value2;
			s3AllPer = masterHatLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterHatLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatLegendary201_250Value2;
			s3AllPer = masterHatLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = masterTopLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopLegendary120_200Value2;
			s3AllPer = masterTopLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterTopLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopLegendary201_250Value2;
			s3AllPer = masterTopLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = masterDressLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterDressLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterDressLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterDressLegendary120_200Value2;
			s3AllPer = masterDressLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = masterBottomLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomLegendary120_200Value2;
			s3AllPer = masterBottomLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterBottomLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomLegendary201_250Value2;
			s3AllPer = masterBottomLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = masterShoesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoesLegendary120_200Value2;
			s3AllPer = masterShoesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = masterGlovesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterGlovesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterGlovesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterGlovesLegendary120_200Value2;
			s3AllPer = masterGlovesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = masterCloakLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterCloakLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterCloakLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterCloakLegendary120_200Value2;
			s3AllPer = masterCloakLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = masterBeltLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBeltLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBeltLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBeltLegendary120_200Value2;
			s3AllPer = masterBeltLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterShoulderDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoulderDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoulderDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoulderDecorationLegendary120_200Value2;
			s3AllPer = masterShoulderDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterFaceDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterFaceDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterFaceDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterFaceDecorationLegendary120_200Value2;
			s3AllPer = masterFaceDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterEyeDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEyeDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEyeDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEyeDecorationLegendary120_200Value2;
			s3AllPer = masterEyeDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = masterEarringLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEarringLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEarringLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEarringLegendary120_200Value2;
			s3AllPer = masterEarringLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = masterRingLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterRingLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterRingLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterRingLegendary120_200Value2;
			s3AllPer = masterRingLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = masterPendantLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterPendantLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterPendantLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterPendantLegendary120_200Value2;
			s3AllPer = masterPendantLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = masterMachineHeartLegendary30Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartLegendary30Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartLegendary30Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartLegendary30Value2;
			s3AllPer = masterMachineHeartLegendary30Value3;
		}
		else if(levelValue == '100'){
			s1Per = masterMachineHeartLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartLegendary100Value2;
			s3AllPer = masterMachineHeartLegendary100Value3;
		}
		else if(levelValue == '120'){
			s1Per = masterMachineHeartLegendary120Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartLegendary120Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartLegendary120Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartLegendary120Value2;
			s3AllPer = masterMachineHeartLegendary120Value3;
		}
	}
}

