if(cubeValue == 'red'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = redWeaponLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redWeaponLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redWeaponLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redWeaponLegendary120_200Value2;
			s3AllPer = redWeaponLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = redEmblemLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemLegendary100Value2;
			s3AllPer = redEmblemLegendary100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = redEmblemLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemLegendary120_200Value2;
			s3AllPer = redEmblemLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = redAdditionalWeaponLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = redAdditionalWeaponLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = redAdditionalWeaponLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redAdditionalWeaponLegendary100Value2;
			s3AllPer = redAdditionalWeaponLegendary100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = redForceshieldSoulingLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = redForceshieldSoulingLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = redForceshieldSoulingLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redForceshieldSoulingLegendary100Value2;
			s3AllPer = redForceshieldSoulingLegendary100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = redShieldLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShieldLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShieldLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShieldLegendary120_200Value2;
			s3AllPer = redShieldLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = redHatLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redHatLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redHatLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatLegendary120_200Value2;
			s3AllPer = redHatLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redHatLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redHatLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redHatLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatLegendary201_250Value2;
			s3AllPer = redHatLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = redTopLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redTopLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redTopLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopLegendary120_200Value2;
			s3AllPer = redTopLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redTopLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redTopLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redTopLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopLegendary201_250Value2;
			s3AllPer = redTopLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = redDressLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redDressLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redDressLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redDressLegendary120_200Value2;
			s3AllPer = redDressLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = redBottomLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomLegendary120_200Value2;
			s3AllPer = redBottomLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redBottomLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomLegendary201_250Value2;
			s3AllPer = redBottomLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = redShoesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoesLegendary120_200Value2;
			s3AllPer = redShoesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = redGlovesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redGlovesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redGlovesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redGlovesLegendary120_200Value2;
			s3AllPer = redGlovesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = redCloakLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redCloakLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redCloakLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redCloakLegendary120_200Value2;
			s3AllPer = redCloakLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = redBeltLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBeltLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBeltLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBeltLegendary120_200Value2;
			s3AllPer = redBeltLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = redShoulderDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoulderDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoulderDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoulderDecorationLegendary120_200Value2;
			s3AllPer = redShoulderDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = redFaceDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redFaceDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redFaceDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redFaceDecorationLegendary120_200Value2;
			s3AllPer = redFaceDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = redEyeDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEyeDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEyeDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEyeDecorationLegendary120_200Value2;
			s3AllPer = redEyeDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = redEarringLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEarringLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEarringLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEarringLegendary120_200Value2;
			s3AllPer = redEarringLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = redRingLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redRingLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redRingLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redRingLegendary120_200Value2;
			s3AllPer = redRingLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = redPendantLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redPendantLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redPendantLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redPendantLegendary120_200Value2;
			s3AllPer = redPendantLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = redMachineHeartLegendary30Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartLegendary30Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartLegendary30Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartLegendary30Value2;
			s3AllPer = redMachineHeartLegendary30Value3;
		}
		else if(levelValue == '100'){
			s1Per = redMachineHeartLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartLegendary100Value2;
			s3AllPer = redMachineHeartLegendary100Value3;
		}
		else if(levelValue == '120'){
			s1Per = redMachineHeartLegendary120Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartLegendary120Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartLegendary120Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartLegendary120Value2;
			s3AllPer = redMachineHeartLegendary120Value3;
		}
	}
}

