if(cubeValue == 'additional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = additionalWeaponLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalWeaponLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalWeaponLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalWeaponLegendary120_200Value2;
			s3AllPer = additionalWeaponLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = additionalEmblemLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemLegendary100Value2;
			s3AllPer = additionalEmblemLegendary100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = additionalEmblemLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemLegendary120_200Value2;
			s3AllPer = additionalEmblemLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = additionalAdditionalWeaponLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalAdditionalWeaponLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalAdditionalWeaponLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalAdditionalWeaponLegendary100Value2;
			s3AllPer = additionalAdditionalWeaponLegendary100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = additionalForceshieldSoulingLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalForceshieldSoulingLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalForceshieldSoulingLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalForceshieldSoulingLegendary100Value2;
			s3AllPer = additionalForceshieldSoulingLegendary100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = additionalShieldLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShieldLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShieldLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShieldLegendary120_200Value2;
			s3AllPer = additionalShieldLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = additionalHatLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatLegendary120_200Value2;
			s3AllPer = additionalHatLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalHatLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatLegendary201_250Value2;
			s3AllPer = additionalHatLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = additionalTopLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopLegendary120_200Value2;
			s3AllPer = additionalTopLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalTopLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopLegendary201_250Value2;
			s3AllPer = additionalTopLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = additionalDressLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalDressLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalDressLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalDressLegendary120_200Value2;
			s3AllPer = additionalDressLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = additionalBottomLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomLegendary120_200Value2;
			s3AllPer = additionalBottomLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalBottomLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomLegendary201_250Value2;
			s3AllPer = additionalBottomLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = additionalShoesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoesLegendary120_200Value2;
			s3AllPer = additionalShoesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = additionalGlovesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalGlovesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalGlovesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalGlovesLegendary120_200Value2;
			s3AllPer = additionalGlovesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = additionalCloakLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalCloakLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalCloakLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalCloakLegendary120_200Value2;
			s3AllPer = additionalCloakLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = additionalBeltLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBeltLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBeltLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBeltLegendary120_200Value2;
			s3AllPer = additionalBeltLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalShoulderDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoulderDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoulderDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoulderDecorationLegendary120_200Value2;
			s3AllPer = additionalShoulderDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalFaceDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalFaceDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalFaceDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalFaceDecorationLegendary120_200Value2;
			s3AllPer = additionalFaceDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalEyeDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEyeDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEyeDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEyeDecorationLegendary120_200Value2;
			s3AllPer = additionalEyeDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = additionalEarringLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEarringLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEarringLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEarringLegendary120_200Value2;
			s3AllPer = additionalEarringLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = additionalRingLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalRingLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalRingLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalRingLegendary120_200Value2;
			s3AllPer = additionalRingLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = additionalPendantLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalPendantLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalPendantLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalPendantLegendary120_200Value2;
			s3AllPer = additionalPendantLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = additionalMachineHeartLegendary30Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartLegendary30Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartLegendary30Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartLegendary30Value2;
			s3AllPer = additionalMachineHeartLegendary30Value3;
		}
		else if(levelValue == '100'){
			s1Per = additionalMachineHeartLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartLegendary100Value2;
			s3AllPer = additionalMachineHeartLegendary100Value3;
		}
		else if(levelValue == '120'){
			s1Per = additionalMachineHeartLegendary120Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartLegendary120Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartLegendary120Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartLegendary120Value2;
			s3AllPer = additionalMachineHeartLegendary120Value3;
		}
	}
}

