if(cubeValue == 'black'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = blackWeaponLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackWeaponLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackWeaponLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackWeaponLegendary120_200Value2;
			s3AllPer = blackWeaponLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = blackEmblemLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemLegendary100Value2;
			s3AllPer = blackEmblemLegendary100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = blackEmblemLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemLegendary120_200Value2;
			s3AllPer = blackEmblemLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = blackAdditionalWeaponLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = blackAdditionalWeaponLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = blackAdditionalWeaponLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackAdditionalWeaponLegendary100Value2;
			s3AllPer = blackAdditionalWeaponLegendary100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = blackForceshieldSoulingLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = blackForceshieldSoulingLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = blackForceshieldSoulingLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackForceshieldSoulingLegendary100Value2;
			s3AllPer = blackForceshieldSoulingLegendary100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = blackShieldLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShieldLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShieldLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShieldLegendary120_200Value2;
			s3AllPer = blackShieldLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = blackHatLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatLegendary120_200Value2;
			s3AllPer = blackHatLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackHatLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatLegendary201_250Value2;
			s3AllPer = blackHatLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = blackTopLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopLegendary120_200Value2;
			s3AllPer = blackTopLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackTopLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopLegendary201_250Value2;
			s3AllPer = blackTopLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = blackDressLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackDressLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackDressLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackDressLegendary120_200Value2;
			s3AllPer = blackDressLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = blackBottomLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomLegendary120_200Value2;
			s3AllPer = blackBottomLegendary120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackBottomLegendary201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomLegendary201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomLegendary201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomLegendary201_250Value2;
			s3AllPer = blackBottomLegendary201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = blackShoesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoesLegendary120_200Value2;
			s3AllPer = blackShoesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = blackGlovesLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackGlovesLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackGlovesLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackGlovesLegendary120_200Value2;
			s3AllPer = blackGlovesLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = blackCloakLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackCloakLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackCloakLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackCloakLegendary120_200Value2;
			s3AllPer = blackCloakLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = blackBeltLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBeltLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBeltLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBeltLegendary120_200Value2;
			s3AllPer = blackBeltLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackShoulderDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoulderDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoulderDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoulderDecorationLegendary120_200Value2;
			s3AllPer = blackShoulderDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackFaceDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackFaceDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackFaceDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackFaceDecorationLegendary120_200Value2;
			s3AllPer = blackFaceDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackEyeDecorationLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEyeDecorationLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEyeDecorationLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEyeDecorationLegendary120_200Value2;
			s3AllPer = blackEyeDecorationLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = blackEarringLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEarringLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEarringLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEarringLegendary120_200Value2;
			s3AllPer = blackEarringLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = blackRingLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackRingLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackRingLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackRingLegendary120_200Value2;
			s3AllPer = blackRingLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = blackPendantLegendary120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackPendantLegendary120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackPendantLegendary120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackPendantLegendary120_200Value2;
			s3AllPer = blackPendantLegendary120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = blackMachineHeartLegendary30Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartLegendary30Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartLegendary30Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartLegendary30Value2;
			s3AllPer = blackMachineHeartLegendary30Value3;
		}
		else if(levelValue == '100'){
			s1Per = blackMachineHeartLegendary100Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartLegendary100Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartLegendary100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartLegendary100Value2;
			s3AllPer = blackMachineHeartLegendary100Value3;
		}
		else if(levelValue == '120'){
			s1Per = blackMachineHeartLegendary120Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartLegendary120Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartLegendary120Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartLegendary120Value2;
			s3AllPer = blackMachineHeartLegendary120Value3;
		}
	}
}

