if(cubeValue == 'red'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = redWeaponRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redWeaponRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redWeaponRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redWeaponRare120_200Value2;
			s3AllPer = redWeaponRare120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = redEmblemRare100Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemRare100Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemRare100Value2;
			s3AllPer = redEmblemRare100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = redEmblemRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemRare120_200Value2;
			s3AllPer = redEmblemRare120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = redAdditionalWeaponRare100Value1[s1Index*2+1].innerHTML;
			s2Per = redAdditionalWeaponRare100Value2[s2Index*2+1].innerHTML;
			s3Per = redAdditionalWeaponRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redAdditionalWeaponRare100Value2;
			s3AllPer = redAdditionalWeaponRare100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = redForceshieldSoulingRare100Value1[s1Index*2+1].innerHTML;
			s2Per = redForceshieldSoulingRare100Value2[s2Index*2+1].innerHTML;
			s3Per = redForceshieldSoulingRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redForceshieldSoulingRare100Value2;
			s3AllPer = redForceshieldSoulingRare100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = redShieldRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShieldRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShieldRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShieldRare120_200Value2;
			s3AllPer = redShieldRare120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = redHatRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redHatRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redHatRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatRare120_200Value2;
			s3AllPer = redHatRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redHatRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redHatRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redHatRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatRare201_250Value2;
			s3AllPer = redHatRare201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = redTopRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redTopRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redTopRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopRare120_200Value2;
			s3AllPer = redTopRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redTopRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redTopRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redTopRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopRare201_250Value2;
			s3AllPer = redTopRare201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = redDressRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redDressRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redDressRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redDressRare120_200Value2;
			s3AllPer = redDressRare120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = redBottomRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomRare120_200Value2;
			s3AllPer = redBottomRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redBottomRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomRare201_250Value2;
			s3AllPer = redBottomRare201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = redShoesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoesRare120_200Value2;
			s3AllPer = redShoesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = redGlovesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redGlovesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redGlovesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redGlovesRare120_200Value2;
			s3AllPer = redGlovesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = redCloakRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redCloakRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redCloakRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redCloakRare120_200Value2;
			s3AllPer = redCloakRare120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = redBeltRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBeltRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBeltRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBeltRare120_200Value2;
			s3AllPer = redBeltRare120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = redShoulderDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoulderDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoulderDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoulderDecorationRare120_200Value2;
			s3AllPer = redShoulderDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = redFaceDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redFaceDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redFaceDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redFaceDecorationRare120_200Value2;
			s3AllPer = redFaceDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = redEyeDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEyeDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEyeDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEyeDecorationRare120_200Value2;
			s3AllPer = redEyeDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = redEarringRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEarringRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEarringRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEarringRare120_200Value2;
			s3AllPer = redEarringRare120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = redRingRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redRingRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redRingRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redRingRare120_200Value2;
			s3AllPer = redRingRare120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = redPendantRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redPendantRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redPendantRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redPendantRare120_200Value2;
			s3AllPer = redPendantRare120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = redMachineHeartRare30Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartRare30Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartRare30Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartRare30Value2;
			s3AllPer = redMachineHeartRare30Value3;
		}
		else if(levelValue == '100'){
			s1Per = redMachineHeartRare100Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartRare100Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartRare100Value2;
			s3AllPer = redMachineHeartRare100Value3;
		}
		else if(levelValue == '120'){
			s1Per = redMachineHeartRare120Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartRare120Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartRare120Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartRare120Value2;
			s3AllPer = redMachineHeartRare120Value3;
		}
	}
}

