if(cubeValue == 'questionable'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = questionableWeaponRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableWeaponRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableWeaponRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableWeaponRare120_200Value2;
			s3AllPer = questionableWeaponRare120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = questionableEmblemRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEmblemRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEmblemRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEmblemRare100Value2;
			s3AllPer = questionableEmblemRare100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = questionableEmblemRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEmblemRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEmblemRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEmblemRare120_200Value2;
			s3AllPer = questionableEmblemRare120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalWeaponRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalWeaponRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalWeaponRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalWeaponRare100Value2;
			s3AllPer = questionableAdditionalWeaponRare100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = questionableForceshieldSoulingRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableForceshieldSoulingRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableForceshieldSoulingRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableForceshieldSoulingRare100Value2;
			s3AllPer = questionableForceshieldSoulingRare100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = questionableShieldRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableShieldRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableShieldRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableShieldRare120_200Value2;
			s3AllPer = questionableShieldRare120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = questionableHatRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableHatRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableHatRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableHatRare120_200Value2;
			s3AllPer = questionableHatRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableHatRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableHatRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableHatRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableHatRare201_250Value2;
			s3AllPer = questionableHatRare201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = questionableTopRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableTopRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableTopRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableTopRare120_200Value2;
			s3AllPer = questionableTopRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableTopRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableTopRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableTopRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableTopRare201_250Value2;
			s3AllPer = questionableTopRare201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = questionableDressRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableDressRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableDressRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableDressRare120_200Value2;
			s3AllPer = questionableDressRare120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = questionableBottomRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableBottomRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableBottomRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableBottomRare120_200Value2;
			s3AllPer = questionableBottomRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableBottomRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableBottomRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableBottomRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableBottomRare201_250Value2;
			s3AllPer = questionableBottomRare201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = questionableShoesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableShoesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableShoesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableShoesRare120_200Value2;
			s3AllPer = questionableShoesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = questionableGlovesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableGlovesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableGlovesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableGlovesRare120_200Value2;
			s3AllPer = questionableGlovesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = questionableCloakRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableCloakRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableCloakRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableCloakRare120_200Value2;
			s3AllPer = questionableCloakRare120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = questionableBeltRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableBeltRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableBeltRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableBeltRare120_200Value2;
			s3AllPer = questionableBeltRare120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableShoulderDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableShoulderDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableShoulderDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableShoulderDecorationRare120_200Value2;
			s3AllPer = questionableShoulderDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableFaceDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableFaceDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableFaceDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableFaceDecorationRare120_200Value2;
			s3AllPer = questionableFaceDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableEyeDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEyeDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEyeDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEyeDecorationRare120_200Value2;
			s3AllPer = questionableEyeDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = questionableEarringRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableEarringRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableEarringRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableEarringRare120_200Value2;
			s3AllPer = questionableEarringRare120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = questionableRingRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableRingRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableRingRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableRingRare120_200Value2;
			s3AllPer = questionableRingRare120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = questionablePendantRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionablePendantRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionablePendantRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionablePendantRare120_200Value2;
			s3AllPer = questionablePendantRare120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = questionableMachineHeartRare30Value1[s1Index*2+1].innerHTML;
			s2Per = questionableMachineHeartRare30Value2[s2Index*2+1].innerHTML;
			s3Per = questionableMachineHeartRare30Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableMachineHeartRare30Value2;
			s3AllPer = questionableMachineHeartRare30Value3;
		}
		else if(levelValue == '100'){
			s1Per = questionableMachineHeartRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableMachineHeartRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableMachineHeartRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableMachineHeartRare100Value2;
			s3AllPer = questionableMachineHeartRare100Value3;
		}
		else if(levelValue == '120'){
			s1Per = questionableMachineHeartRare120Value1[s1Index*2+1].innerHTML;
			s2Per = questionableMachineHeartRare120Value2[s2Index*2+1].innerHTML;
			s3Per = questionableMachineHeartRare120Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableMachineHeartRare120Value2;
			s3AllPer = questionableMachineHeartRare120Value3;
		}
	}
}

