if(cubeValue == 'additional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = additionalWeaponRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalWeaponRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalWeaponRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalWeaponRare120_200Value2;
			s3AllPer = additionalWeaponRare120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = additionalEmblemRare100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemRare100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemRare100Value2;
			s3AllPer = additionalEmblemRare100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = additionalEmblemRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemRare120_200Value2;
			s3AllPer = additionalEmblemRare120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = additionalAdditionalWeaponRare100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalAdditionalWeaponRare100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalAdditionalWeaponRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalAdditionalWeaponRare100Value2;
			s3AllPer = additionalAdditionalWeaponRare100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = additionalForceshieldSoulingRare100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalForceshieldSoulingRare100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalForceshieldSoulingRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalForceshieldSoulingRare100Value2;
			s3AllPer = additionalForceshieldSoulingRare100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = additionalShieldRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShieldRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShieldRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShieldRare120_200Value2;
			s3AllPer = additionalShieldRare120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = additionalHatRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatRare120_200Value2;
			s3AllPer = additionalHatRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalHatRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatRare201_250Value2;
			s3AllPer = additionalHatRare201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = additionalTopRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopRare120_200Value2;
			s3AllPer = additionalTopRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalTopRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopRare201_250Value2;
			s3AllPer = additionalTopRare201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = additionalDressRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalDressRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalDressRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalDressRare120_200Value2;
			s3AllPer = additionalDressRare120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = additionalBottomRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomRare120_200Value2;
			s3AllPer = additionalBottomRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalBottomRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomRare201_250Value2;
			s3AllPer = additionalBottomRare201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = additionalShoesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoesRare120_200Value2;
			s3AllPer = additionalShoesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = additionalGlovesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalGlovesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalGlovesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalGlovesRare120_200Value2;
			s3AllPer = additionalGlovesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = additionalCloakRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalCloakRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalCloakRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalCloakRare120_200Value2;
			s3AllPer = additionalCloakRare120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = additionalBeltRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBeltRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBeltRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBeltRare120_200Value2;
			s3AllPer = additionalBeltRare120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalShoulderDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoulderDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoulderDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoulderDecorationRare120_200Value2;
			s3AllPer = additionalShoulderDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalFaceDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalFaceDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalFaceDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalFaceDecorationRare120_200Value2;
			s3AllPer = additionalFaceDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalEyeDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEyeDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEyeDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEyeDecorationRare120_200Value2;
			s3AllPer = additionalEyeDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = additionalEarringRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEarringRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEarringRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEarringRare120_200Value2;
			s3AllPer = additionalEarringRare120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = additionalRingRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalRingRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalRingRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalRingRare120_200Value2;
			s3AllPer = additionalRingRare120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = additionalPendantRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalPendantRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalPendantRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalPendantRare120_200Value2;
			s3AllPer = additionalPendantRare120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = additionalMachineHeartRare30Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartRare30Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartRare30Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartRare30Value2;
			s3AllPer = additionalMachineHeartRare30Value3;
		}
		else if(levelValue == '100'){
			s1Per = additionalMachineHeartRare100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartRare100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartRare100Value2;
			s3AllPer = additionalMachineHeartRare100Value3;
		}
		else if(levelValue == '120'){
			s1Per = additionalMachineHeartRare120Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartRare120Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartRare120Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartRare120Value2;
			s3AllPer = additionalMachineHeartRare120Value3;
		}
	}
}

