if(cubeValue == 'questionableAdditional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalWeaponRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalWeaponRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalWeaponRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalWeaponRare120_200Value2;
			s3AllPer = questionableAdditionalWeaponRare120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalEmblemRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEmblemRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEmblemRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEmblemRare100Value2;
			s3AllPer = questionableAdditionalEmblemRare100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = questionableAdditionalEmblemRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEmblemRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEmblemRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEmblemRare120_200Value2;
			s3AllPer = questionableAdditionalEmblemRare120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalAdditionalWeaponRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalAdditionalWeaponRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalAdditionalWeaponRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalAdditionalWeaponRare100Value2;
			s3AllPer = questionableAdditionalAdditionalWeaponRare100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = questionableAdditionalForceshieldSoulingRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalForceshieldSoulingRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalForceshieldSoulingRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalForceshieldSoulingRare100Value2;
			s3AllPer = questionableAdditionalForceshieldSoulingRare100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalShieldRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalShieldRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalShieldRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalShieldRare120_200Value2;
			s3AllPer = questionableAdditionalShieldRare120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalHatRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalHatRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalHatRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalHatRare120_200Value2;
			s3AllPer = questionableAdditionalHatRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableAdditionalHatRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalHatRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalHatRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalHatRare201_250Value2;
			s3AllPer = questionableAdditionalHatRare201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalTopRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalTopRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalTopRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalTopRare120_200Value2;
			s3AllPer = questionableAdditionalTopRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableAdditionalTopRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalTopRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalTopRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalTopRare201_250Value2;
			s3AllPer = questionableAdditionalTopRare201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalDressRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalDressRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalDressRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalDressRare120_200Value2;
			s3AllPer = questionableAdditionalDressRare120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalBottomRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalBottomRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalBottomRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalBottomRare120_200Value2;
			s3AllPer = questionableAdditionalBottomRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = questionableAdditionalBottomRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalBottomRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalBottomRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalBottomRare201_250Value2;
			s3AllPer = questionableAdditionalBottomRare201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalShoesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalShoesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalShoesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalShoesRare120_200Value2;
			s3AllPer = questionableAdditionalShoesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalGlovesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalGlovesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalGlovesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalGlovesRare120_200Value2;
			s3AllPer = questionableAdditionalGlovesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalCloakRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalCloakRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalCloakRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalCloakRare120_200Value2;
			s3AllPer = questionableAdditionalCloakRare120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalBeltRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalBeltRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalBeltRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalBeltRare120_200Value2;
			s3AllPer = questionableAdditionalBeltRare120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalShoulderDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalShoulderDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalShoulderDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalShoulderDecorationRare120_200Value2;
			s3AllPer = questionableAdditionalShoulderDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalFaceDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalFaceDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalFaceDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalFaceDecorationRare120_200Value2;
			s3AllPer = questionableAdditionalFaceDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalEyeDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEyeDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEyeDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEyeDecorationRare120_200Value2;
			s3AllPer = questionableAdditionalEyeDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalEarringRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalEarringRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalEarringRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalEarringRare120_200Value2;
			s3AllPer = questionableAdditionalEarringRare120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalRingRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalRingRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalRingRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalRingRare120_200Value2;
			s3AllPer = questionableAdditionalRingRare120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = questionableAdditionalPendantRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalPendantRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalPendantRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalPendantRare120_200Value2;
			s3AllPer = questionableAdditionalPendantRare120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = questionableAdditionalMachineHeartRare30Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalMachineHeartRare30Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalMachineHeartRare30Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalMachineHeartRare30Value2;
			s3AllPer = questionableAdditionalMachineHeartRare30Value3;
		}
		else if(levelValue == '100'){
			s1Per = questionableAdditionalMachineHeartRare100Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalMachineHeartRare100Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalMachineHeartRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalMachineHeartRare100Value2;
			s3AllPer = questionableAdditionalMachineHeartRare100Value3;
		}
		else if(levelValue == '120'){
			s1Per = questionableAdditionalMachineHeartRare120Value1[s1Index*2+1].innerHTML;
			s2Per = questionableAdditionalMachineHeartRare120Value2[s2Index*2+1].innerHTML;
			s3Per = questionableAdditionalMachineHeartRare120Value3[s3Index*2+1].innerHTML;

			s2AllPer = questionableAdditionalMachineHeartRare120Value2;
			s3AllPer = questionableAdditionalMachineHeartRare120Value3;
		}
	}
}

