if(cubeValue == 'black'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = blackWeaponRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackWeaponRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackWeaponRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackWeaponRare120_200Value2;
			s3AllPer = blackWeaponRare120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = blackEmblemRare100Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemRare100Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemRare100Value2;
			s3AllPer = blackEmblemRare100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = blackEmblemRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemRare120_200Value2;
			s3AllPer = blackEmblemRare120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = blackAdditionalWeaponRare100Value1[s1Index*2+1].innerHTML;
			s2Per = blackAdditionalWeaponRare100Value2[s2Index*2+1].innerHTML;
			s3Per = blackAdditionalWeaponRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackAdditionalWeaponRare100Value2;
			s3AllPer = blackAdditionalWeaponRare100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = blackForceshieldSoulingRare100Value1[s1Index*2+1].innerHTML;
			s2Per = blackForceshieldSoulingRare100Value2[s2Index*2+1].innerHTML;
			s3Per = blackForceshieldSoulingRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackForceshieldSoulingRare100Value2;
			s3AllPer = blackForceshieldSoulingRare100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = blackShieldRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShieldRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShieldRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShieldRare120_200Value2;
			s3AllPer = blackShieldRare120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = blackHatRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatRare120_200Value2;
			s3AllPer = blackHatRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackHatRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatRare201_250Value2;
			s3AllPer = blackHatRare201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = blackTopRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopRare120_200Value2;
			s3AllPer = blackTopRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackTopRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopRare201_250Value2;
			s3AllPer = blackTopRare201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = blackDressRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackDressRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackDressRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackDressRare120_200Value2;
			s3AllPer = blackDressRare120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = blackBottomRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomRare120_200Value2;
			s3AllPer = blackBottomRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackBottomRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomRare201_250Value2;
			s3AllPer = blackBottomRare201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = blackShoesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoesRare120_200Value2;
			s3AllPer = blackShoesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = blackGlovesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackGlovesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackGlovesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackGlovesRare120_200Value2;
			s3AllPer = blackGlovesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = blackCloakRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackCloakRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackCloakRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackCloakRare120_200Value2;
			s3AllPer = blackCloakRare120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = blackBeltRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBeltRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBeltRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBeltRare120_200Value2;
			s3AllPer = blackBeltRare120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackShoulderDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoulderDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoulderDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoulderDecorationRare120_200Value2;
			s3AllPer = blackShoulderDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackFaceDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackFaceDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackFaceDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackFaceDecorationRare120_200Value2;
			s3AllPer = blackFaceDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackEyeDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEyeDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEyeDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEyeDecorationRare120_200Value2;
			s3AllPer = blackEyeDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = blackEarringRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEarringRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEarringRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEarringRare120_200Value2;
			s3AllPer = blackEarringRare120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = blackRingRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackRingRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackRingRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackRingRare120_200Value2;
			s3AllPer = blackRingRare120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = blackPendantRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackPendantRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackPendantRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackPendantRare120_200Value2;
			s3AllPer = blackPendantRare120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = blackMachineHeartRare30Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartRare30Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartRare30Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartRare30Value2;
			s3AllPer = blackMachineHeartRare30Value3;
		}
		else if(levelValue == '100'){
			s1Per = blackMachineHeartRare100Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartRare100Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartRare100Value2;
			s3AllPer = blackMachineHeartRare100Value3;
		}
		else if(levelValue == '120'){
			s1Per = blackMachineHeartRare120Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartRare120Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartRare120Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartRare120Value2;
			s3AllPer = blackMachineHeartRare120Value3;
		}
	}
}

