if(cubeValue == 'master'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = masterWeaponRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterWeaponRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterWeaponRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterWeaponRare120_200Value2;
			s3AllPer = masterWeaponRare120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = masterEmblemRare100Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemRare100Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemRare100Value2;
			s3AllPer = masterEmblemRare100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = masterEmblemRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemRare120_200Value2;
			s3AllPer = masterEmblemRare120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = masterAdditionalWeaponRare100Value1[s1Index*2+1].innerHTML;
			s2Per = masterAdditionalWeaponRare100Value2[s2Index*2+1].innerHTML;
			s3Per = masterAdditionalWeaponRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterAdditionalWeaponRare100Value2;
			s3AllPer = masterAdditionalWeaponRare100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = masterForceshieldSoulingRare100Value1[s1Index*2+1].innerHTML;
			s2Per = masterForceshieldSoulingRare100Value2[s2Index*2+1].innerHTML;
			s3Per = masterForceshieldSoulingRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterForceshieldSoulingRare100Value2;
			s3AllPer = masterForceshieldSoulingRare100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = masterShieldRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShieldRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShieldRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShieldRare120_200Value2;
			s3AllPer = masterShieldRare120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = masterHatRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatRare120_200Value2;
			s3AllPer = masterHatRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterHatRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatRare201_250Value2;
			s3AllPer = masterHatRare201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = masterTopRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopRare120_200Value2;
			s3AllPer = masterTopRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterTopRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopRare201_250Value2;
			s3AllPer = masterTopRare201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = masterDressRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterDressRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterDressRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterDressRare120_200Value2;
			s3AllPer = masterDressRare120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = masterBottomRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomRare120_200Value2;
			s3AllPer = masterBottomRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterBottomRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomRare201_250Value2;
			s3AllPer = masterBottomRare201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = masterShoesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoesRare120_200Value2;
			s3AllPer = masterShoesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = masterGlovesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterGlovesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterGlovesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterGlovesRare120_200Value2;
			s3AllPer = masterGlovesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = masterCloakRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterCloakRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterCloakRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterCloakRare120_200Value2;
			s3AllPer = masterCloakRare120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = masterBeltRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBeltRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBeltRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBeltRare120_200Value2;
			s3AllPer = masterBeltRare120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterShoulderDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoulderDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoulderDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoulderDecorationRare120_200Value2;
			s3AllPer = masterShoulderDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterFaceDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterFaceDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterFaceDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterFaceDecorationRare120_200Value2;
			s3AllPer = masterFaceDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterEyeDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEyeDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEyeDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEyeDecorationRare120_200Value2;
			s3AllPer = masterEyeDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = masterEarringRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEarringRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEarringRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEarringRare120_200Value2;
			s3AllPer = masterEarringRare120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = masterRingRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterRingRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterRingRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterRingRare120_200Value2;
			s3AllPer = masterRingRare120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = masterPendantRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterPendantRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterPendantRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterPendantRare120_200Value2;
			s3AllPer = masterPendantRare120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = masterMachineHeartRare30Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartRare30Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartRare30Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartRare30Value2;
			s3AllPer = masterMachineHeartRare30Value3;
		}
		else if(levelValue == '100'){
			s1Per = masterMachineHeartRare100Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartRare100Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartRare100Value2;
			s3AllPer = masterMachineHeartRare100Value3;
		}
		else if(levelValue == '120'){
			s1Per = masterMachineHeartRare120Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartRare120Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartRare120Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartRare120Value2;
			s3AllPer = masterMachineHeartRare120Value3;
		}
	}
}

