if(cubeValue == 'expert'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = expertWeaponRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertWeaponRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertWeaponRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertWeaponRare120_200Value2;
			s3AllPer = expertWeaponRare120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = expertEmblemRare100Value1[s1Index*2+1].innerHTML;
			s2Per = expertEmblemRare100Value2[s2Index*2+1].innerHTML;
			s3Per = expertEmblemRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEmblemRare100Value2;
			s3AllPer = expertEmblemRare100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = expertEmblemRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEmblemRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEmblemRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEmblemRare120_200Value2;
			s3AllPer = expertEmblemRare120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = expertAdditionalWeaponRare100Value1[s1Index*2+1].innerHTML;
			s2Per = expertAdditionalWeaponRare100Value2[s2Index*2+1].innerHTML;
			s3Per = expertAdditionalWeaponRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertAdditionalWeaponRare100Value2;
			s3AllPer = expertAdditionalWeaponRare100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = expertForceshieldSoulingRare100Value1[s1Index*2+1].innerHTML;
			s2Per = expertForceshieldSoulingRare100Value2[s2Index*2+1].innerHTML;
			s3Per = expertForceshieldSoulingRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertForceshieldSoulingRare100Value2;
			s3AllPer = expertForceshieldSoulingRare100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = expertShieldRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShieldRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShieldRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShieldRare120_200Value2;
			s3AllPer = expertShieldRare120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = expertHatRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertHatRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertHatRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertHatRare120_200Value2;
			s3AllPer = expertHatRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertHatRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertHatRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertHatRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertHatRare201_250Value2;
			s3AllPer = expertHatRare201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = expertTopRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertTopRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertTopRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertTopRare120_200Value2;
			s3AllPer = expertTopRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertTopRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertTopRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertTopRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertTopRare201_250Value2;
			s3AllPer = expertTopRare201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = expertDressRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertDressRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertDressRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertDressRare120_200Value2;
			s3AllPer = expertDressRare120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = expertBottomRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertBottomRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertBottomRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBottomRare120_200Value2;
			s3AllPer = expertBottomRare120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertBottomRare201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertBottomRare201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertBottomRare201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBottomRare201_250Value2;
			s3AllPer = expertBottomRare201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = expertShoesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShoesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShoesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShoesRare120_200Value2;
			s3AllPer = expertShoesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = expertGlovesRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertGlovesRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertGlovesRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertGlovesRare120_200Value2;
			s3AllPer = expertGlovesRare120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = expertCloakRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertCloakRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertCloakRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertCloakRare120_200Value2;
			s3AllPer = expertCloakRare120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = expertBeltRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertBeltRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertBeltRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBeltRare120_200Value2;
			s3AllPer = expertBeltRare120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertShoulderDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShoulderDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShoulderDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShoulderDecorationRare120_200Value2;
			s3AllPer = expertShoulderDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertFaceDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertFaceDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertFaceDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertFaceDecorationRare120_200Value2;
			s3AllPer = expertFaceDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertEyeDecorationRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEyeDecorationRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEyeDecorationRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEyeDecorationRare120_200Value2;
			s3AllPer = expertEyeDecorationRare120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = expertEarringRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEarringRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEarringRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEarringRare120_200Value2;
			s3AllPer = expertEarringRare120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = expertRingRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertRingRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertRingRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertRingRare120_200Value2;
			s3AllPer = expertRingRare120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = expertPendantRare120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertPendantRare120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertPendantRare120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertPendantRare120_200Value2;
			s3AllPer = expertPendantRare120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = expertMachineHeartRare30Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartRare30Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartRare30Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartRare30Value2;
			s3AllPer = expertMachineHeartRare30Value3;
		}
		else if(levelValue == '100'){
			s1Per = expertMachineHeartRare100Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartRare100Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartRare100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartRare100Value2;
			s3AllPer = expertMachineHeartRare100Value3;
		}
		else if(levelValue == '120'){
			s1Per = expertMachineHeartRare120Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartRare120Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartRare120Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartRare120Value2;
			s3AllPer = expertMachineHeartRare120Value3;
		}
	}
}

