if(cubeValue == 'red'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = redWeaponUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redWeaponUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redWeaponUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redWeaponUnique120_200Value2;
			s3AllPer = redWeaponUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = redEmblemUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemUnique100Value2;
			s3AllPer = redEmblemUnique100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = redEmblemUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEmblemUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEmblemUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEmblemUnique120_200Value2;
			s3AllPer = redEmblemUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = redAdditionalWeaponUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = redAdditionalWeaponUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = redAdditionalWeaponUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redAdditionalWeaponUnique100Value2;
			s3AllPer = redAdditionalWeaponUnique100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = redForceshieldSoulingUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = redForceshieldSoulingUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = redForceshieldSoulingUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redForceshieldSoulingUnique100Value2;
			s3AllPer = redForceshieldSoulingUnique100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = redShieldUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShieldUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShieldUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShieldUnique120_200Value2;
			s3AllPer = redShieldUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = redHatUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redHatUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redHatUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatUnique120_200Value2;
			s3AllPer = redHatUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redHatUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redHatUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redHatUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redHatUnique201_250Value2;
			s3AllPer = redHatUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = redTopUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redTopUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redTopUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopUnique120_200Value2;
			s3AllPer = redTopUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redTopUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redTopUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redTopUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redTopUnique201_250Value2;
			s3AllPer = redTopUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = redDressUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redDressUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redDressUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redDressUnique120_200Value2;
			s3AllPer = redDressUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = redBottomUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomUnique120_200Value2;
			s3AllPer = redBottomUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = redBottomUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = redBottomUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = redBottomUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBottomUnique201_250Value2;
			s3AllPer = redBottomUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = redShoesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoesUnique120_200Value2;
			s3AllPer = redShoesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = redGlovesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redGlovesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redGlovesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redGlovesUnique120_200Value2;
			s3AllPer = redGlovesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = redCloakUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redCloakUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redCloakUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redCloakUnique120_200Value2;
			s3AllPer = redCloakUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = redBeltUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redBeltUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redBeltUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redBeltUnique120_200Value2;
			s3AllPer = redBeltUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = redShoulderDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redShoulderDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redShoulderDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redShoulderDecorationUnique120_200Value2;
			s3AllPer = redShoulderDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = redFaceDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redFaceDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redFaceDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redFaceDecorationUnique120_200Value2;
			s3AllPer = redFaceDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = redEyeDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEyeDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEyeDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEyeDecorationUnique120_200Value2;
			s3AllPer = redEyeDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = redEarringUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redEarringUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redEarringUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redEarringUnique120_200Value2;
			s3AllPer = redEarringUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = redRingUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redRingUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redRingUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redRingUnique120_200Value2;
			s3AllPer = redRingUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = redPendantUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = redPendantUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = redPendantUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = redPendantUnique120_200Value2;
			s3AllPer = redPendantUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = redMachineHeartUnique30Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartUnique30Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartUnique30Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartUnique30Value2;
			s3AllPer = redMachineHeartUnique30Value3;
		}
		else if(levelValue == '100'){
			s1Per = redMachineHeartUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartUnique100Value2;
			s3AllPer = redMachineHeartUnique100Value3;
		}
		else if(levelValue == '120'){
			s1Per = redMachineHeartUnique120Value1[s1Index*2+1].innerHTML;
			s2Per = redMachineHeartUnique120Value2[s2Index*2+1].innerHTML;
			s3Per = redMachineHeartUnique120Value3[s3Index*2+1].innerHTML;

			s2AllPer = redMachineHeartUnique120Value2;
			s3AllPer = redMachineHeartUnique120Value3;
		}
	}
}

