if(cubeValue == 'master'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = masterWeaponUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterWeaponUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterWeaponUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterWeaponUnique120_200Value2;
			s3AllPer = masterWeaponUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = masterEmblemUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemUnique100Value2;
			s3AllPer = masterEmblemUnique100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = masterEmblemUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEmblemUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEmblemUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEmblemUnique120_200Value2;
			s3AllPer = masterEmblemUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = masterAdditionalWeaponUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = masterAdditionalWeaponUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = masterAdditionalWeaponUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterAdditionalWeaponUnique100Value2;
			s3AllPer = masterAdditionalWeaponUnique100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = masterForceshieldSoulingUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = masterForceshieldSoulingUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = masterForceshieldSoulingUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterForceshieldSoulingUnique100Value2;
			s3AllPer = masterForceshieldSoulingUnique100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = masterShieldUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShieldUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShieldUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShieldUnique120_200Value2;
			s3AllPer = masterShieldUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = masterHatUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatUnique120_200Value2;
			s3AllPer = masterHatUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterHatUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterHatUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterHatUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterHatUnique201_250Value2;
			s3AllPer = masterHatUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = masterTopUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopUnique120_200Value2;
			s3AllPer = masterTopUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterTopUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterTopUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterTopUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterTopUnique201_250Value2;
			s3AllPer = masterTopUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = masterDressUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterDressUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterDressUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterDressUnique120_200Value2;
			s3AllPer = masterDressUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = masterBottomUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomUnique120_200Value2;
			s3AllPer = masterBottomUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = masterBottomUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = masterBottomUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = masterBottomUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBottomUnique201_250Value2;
			s3AllPer = masterBottomUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = masterShoesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoesUnique120_200Value2;
			s3AllPer = masterShoesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = masterGlovesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterGlovesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterGlovesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterGlovesUnique120_200Value2;
			s3AllPer = masterGlovesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = masterCloakUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterCloakUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterCloakUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterCloakUnique120_200Value2;
			s3AllPer = masterCloakUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = masterBeltUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterBeltUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterBeltUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterBeltUnique120_200Value2;
			s3AllPer = masterBeltUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterShoulderDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterShoulderDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterShoulderDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterShoulderDecorationUnique120_200Value2;
			s3AllPer = masterShoulderDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterFaceDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterFaceDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterFaceDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterFaceDecorationUnique120_200Value2;
			s3AllPer = masterFaceDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = masterEyeDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEyeDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEyeDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEyeDecorationUnique120_200Value2;
			s3AllPer = masterEyeDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = masterEarringUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterEarringUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterEarringUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterEarringUnique120_200Value2;
			s3AllPer = masterEarringUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = masterRingUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterRingUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterRingUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterRingUnique120_200Value2;
			s3AllPer = masterRingUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = masterPendantUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = masterPendantUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = masterPendantUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterPendantUnique120_200Value2;
			s3AllPer = masterPendantUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = masterMachineHeartUnique30Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartUnique30Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartUnique30Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartUnique30Value2;
			s3AllPer = masterMachineHeartUnique30Value3;
		}
		else if(levelValue == '100'){
			s1Per = masterMachineHeartUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartUnique100Value2;
			s3AllPer = masterMachineHeartUnique100Value3;
		}
		else if(levelValue == '120'){
			s1Per = masterMachineHeartUnique120Value1[s1Index*2+1].innerHTML;
			s2Per = masterMachineHeartUnique120Value2[s2Index*2+1].innerHTML;
			s3Per = masterMachineHeartUnique120Value3[s3Index*2+1].innerHTML;

			s2AllPer = masterMachineHeartUnique120Value2;
			s3AllPer = masterMachineHeartUnique120Value3;
		}
	}
}

