if(cubeValue == 'expert'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = expertWeaponUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertWeaponUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertWeaponUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertWeaponUnique120_200Value2;
			s3AllPer = expertWeaponUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = expertEmblemUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = expertEmblemUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = expertEmblemUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEmblemUnique100Value2;
			s3AllPer = expertEmblemUnique100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = expertEmblemUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEmblemUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEmblemUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEmblemUnique120_200Value2;
			s3AllPer = expertEmblemUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = expertAdditionalWeaponUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = expertAdditionalWeaponUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = expertAdditionalWeaponUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertAdditionalWeaponUnique100Value2;
			s3AllPer = expertAdditionalWeaponUnique100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = expertForceshieldSoulingUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = expertForceshieldSoulingUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = expertForceshieldSoulingUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertForceshieldSoulingUnique100Value2;
			s3AllPer = expertForceshieldSoulingUnique100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = expertShieldUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShieldUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShieldUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShieldUnique120_200Value2;
			s3AllPer = expertShieldUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = expertHatUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertHatUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertHatUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertHatUnique120_200Value2;
			s3AllPer = expertHatUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertHatUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertHatUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertHatUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertHatUnique201_250Value2;
			s3AllPer = expertHatUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = expertTopUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertTopUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertTopUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertTopUnique120_200Value2;
			s3AllPer = expertTopUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertTopUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertTopUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertTopUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertTopUnique201_250Value2;
			s3AllPer = expertTopUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = expertDressUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertDressUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertDressUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertDressUnique120_200Value2;
			s3AllPer = expertDressUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = expertBottomUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertBottomUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertBottomUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBottomUnique120_200Value2;
			s3AllPer = expertBottomUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = expertBottomUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = expertBottomUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = expertBottomUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBottomUnique201_250Value2;
			s3AllPer = expertBottomUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = expertShoesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShoesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShoesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShoesUnique120_200Value2;
			s3AllPer = expertShoesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = expertGlovesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertGlovesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertGlovesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertGlovesUnique120_200Value2;
			s3AllPer = expertGlovesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = expertCloakUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertCloakUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertCloakUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertCloakUnique120_200Value2;
			s3AllPer = expertCloakUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = expertBeltUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertBeltUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertBeltUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertBeltUnique120_200Value2;
			s3AllPer = expertBeltUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertShoulderDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertShoulderDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertShoulderDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertShoulderDecorationUnique120_200Value2;
			s3AllPer = expertShoulderDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertFaceDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertFaceDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertFaceDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertFaceDecorationUnique120_200Value2;
			s3AllPer = expertFaceDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = expertEyeDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEyeDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEyeDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEyeDecorationUnique120_200Value2;
			s3AllPer = expertEyeDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = expertEarringUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertEarringUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertEarringUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertEarringUnique120_200Value2;
			s3AllPer = expertEarringUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = expertRingUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertRingUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertRingUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertRingUnique120_200Value2;
			s3AllPer = expertRingUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = expertPendantUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = expertPendantUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = expertPendantUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertPendantUnique120_200Value2;
			s3AllPer = expertPendantUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = expertMachineHeartUnique30Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartUnique30Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartUnique30Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartUnique30Value2;
			s3AllPer = expertMachineHeartUnique30Value3;
		}
		else if(levelValue == '100'){
			s1Per = expertMachineHeartUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartUnique100Value2;
			s3AllPer = expertMachineHeartUnique100Value3;
		}
		else if(levelValue == '120'){
			s1Per = expertMachineHeartUnique120Value1[s1Index*2+1].innerHTML;
			s2Per = expertMachineHeartUnique120Value2[s2Index*2+1].innerHTML;
			s3Per = expertMachineHeartUnique120Value3[s3Index*2+1].innerHTML;

			s2AllPer = expertMachineHeartUnique120Value2;
			s3AllPer = expertMachineHeartUnique120Value3;
		}
	}
}

