if(cubeValue == 'additional'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = additionalWeaponUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalWeaponUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalWeaponUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalWeaponUnique120_200Value2;
			s3AllPer = additionalWeaponUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = additionalEmblemUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemUnique100Value2;
			s3AllPer = additionalEmblemUnique100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = additionalEmblemUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEmblemUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEmblemUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEmblemUnique120_200Value2;
			s3AllPer = additionalEmblemUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = additionalAdditionalWeaponUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalAdditionalWeaponUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalAdditionalWeaponUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalAdditionalWeaponUnique100Value2;
			s3AllPer = additionalAdditionalWeaponUnique100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = additionalForceshieldSoulingUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalForceshieldSoulingUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalForceshieldSoulingUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalForceshieldSoulingUnique100Value2;
			s3AllPer = additionalForceshieldSoulingUnique100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = additionalShieldUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShieldUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShieldUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShieldUnique120_200Value2;
			s3AllPer = additionalShieldUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = additionalHatUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatUnique120_200Value2;
			s3AllPer = additionalHatUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalHatUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalHatUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalHatUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalHatUnique201_250Value2;
			s3AllPer = additionalHatUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = additionalTopUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopUnique120_200Value2;
			s3AllPer = additionalTopUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalTopUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalTopUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalTopUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalTopUnique201_250Value2;
			s3AllPer = additionalTopUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = additionalDressUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalDressUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalDressUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalDressUnique120_200Value2;
			s3AllPer = additionalDressUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = additionalBottomUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomUnique120_200Value2;
			s3AllPer = additionalBottomUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = additionalBottomUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBottomUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBottomUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBottomUnique201_250Value2;
			s3AllPer = additionalBottomUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = additionalShoesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoesUnique120_200Value2;
			s3AllPer = additionalShoesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = additionalGlovesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalGlovesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalGlovesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalGlovesUnique120_200Value2;
			s3AllPer = additionalGlovesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = additionalCloakUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalCloakUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalCloakUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalCloakUnique120_200Value2;
			s3AllPer = additionalCloakUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = additionalBeltUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalBeltUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalBeltUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalBeltUnique120_200Value2;
			s3AllPer = additionalBeltUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalShoulderDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalShoulderDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalShoulderDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalShoulderDecorationUnique120_200Value2;
			s3AllPer = additionalShoulderDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalFaceDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalFaceDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalFaceDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalFaceDecorationUnique120_200Value2;
			s3AllPer = additionalFaceDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = additionalEyeDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEyeDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEyeDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEyeDecorationUnique120_200Value2;
			s3AllPer = additionalEyeDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = additionalEarringUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalEarringUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalEarringUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalEarringUnique120_200Value2;
			s3AllPer = additionalEarringUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = additionalRingUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalRingUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalRingUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalRingUnique120_200Value2;
			s3AllPer = additionalRingUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = additionalPendantUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = additionalPendantUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = additionalPendantUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalPendantUnique120_200Value2;
			s3AllPer = additionalPendantUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = additionalMachineHeartUnique30Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartUnique30Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartUnique30Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartUnique30Value2;
			s3AllPer = additionalMachineHeartUnique30Value3;
		}
		else if(levelValue == '100'){
			s1Per = additionalMachineHeartUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartUnique100Value2;
			s3AllPer = additionalMachineHeartUnique100Value3;
		}
		else if(levelValue == '120'){
			s1Per = additionalMachineHeartUnique120Value1[s1Index*2+1].innerHTML;
			s2Per = additionalMachineHeartUnique120Value2[s2Index*2+1].innerHTML;
			s3Per = additionalMachineHeartUnique120Value3[s3Index*2+1].innerHTML;

			s2AllPer = additionalMachineHeartUnique120Value2;
			s3AllPer = additionalMachineHeartUnique120Value3;
		}
	}
}

