if(cubeValue == 'black'){
	if(equipmentValue == 'weapon'){
		if(levelValue == '120-200'){
			s1Per = blackWeaponUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackWeaponUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackWeaponUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackWeaponUnique120_200Value2;
			s3AllPer = blackWeaponUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'emblem'){
		if(levelValue == '100'){
			s1Per = blackEmblemUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemUnique100Value2;
			s3AllPer = blackEmblemUnique100Value3;
		}
		else if(levelValue == '120-200'){
			s1Per = blackEmblemUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEmblemUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEmblemUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEmblemUnique120_200Value2;
			s3AllPer = blackEmblemUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'additionalWeapon'){
		if(levelValue == '100'){
			s1Per = blackAdditionalWeaponUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = blackAdditionalWeaponUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = blackAdditionalWeaponUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackAdditionalWeaponUnique100Value2;
			s3AllPer = blackAdditionalWeaponUnique100Value3;
		}
	}
	else if(equipmentValue == 'forceshieldSouling'){
		if(levelValue == '100'){
			s1Per = blackForceshieldSoulingUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = blackForceshieldSoulingUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = blackForceshieldSoulingUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackForceshieldSoulingUnique100Value2;
			s3AllPer = blackForceshieldSoulingUnique100Value3;
		}
	}
	else if(equipmentValue == 'shield'){
		if(levelValue == '120-200'){
			s1Per = blackShieldUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShieldUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShieldUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShieldUnique120_200Value2;
			s3AllPer = blackShieldUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'hat'){
		if(levelValue == '120-200'){
			s1Per = blackHatUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatUnique120_200Value2;
			s3AllPer = blackHatUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackHatUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackHatUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackHatUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackHatUnique201_250Value2;
			s3AllPer = blackHatUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'top'){
		if(levelValue == '120-200'){
			s1Per = blackTopUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopUnique120_200Value2;
			s3AllPer = blackTopUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackTopUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackTopUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackTopUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackTopUnique201_250Value2;
			s3AllPer = blackTopUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'dress'){
		if(levelValue == '120-200'){
			s1Per = blackDressUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackDressUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackDressUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackDressUnique120_200Value2;
			s3AllPer = blackDressUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'bottom'){
		if(levelValue == '120-200'){
			s1Per = blackBottomUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomUnique120_200Value2;
			s3AllPer = blackBottomUnique120_200Value3;
		}
		else if(levelValue == '201-250'){
			s1Per = blackBottomUnique201_250Value1[s1Index*2+1].innerHTML;
			s2Per = blackBottomUnique201_250Value2[s2Index*2+1].innerHTML;
			s3Per = blackBottomUnique201_250Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBottomUnique201_250Value2;
			s3AllPer = blackBottomUnique201_250Value3;
		}
	}
	else if(equipmentValue == 'shoes'){
		if(levelValue == '120-200'){
			s1Per = blackShoesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoesUnique120_200Value2;
			s3AllPer = blackShoesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'gloves'){
		if(levelValue == '120-200'){
			s1Per = blackGlovesUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackGlovesUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackGlovesUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackGlovesUnique120_200Value2;
			s3AllPer = blackGlovesUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'cloak'){
		if(levelValue == '120-200'){
			s1Per = blackCloakUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackCloakUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackCloakUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackCloakUnique120_200Value2;
			s3AllPer = blackCloakUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'belt'){
		if(levelValue == '120-200'){
			s1Per = blackBeltUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackBeltUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackBeltUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackBeltUnique120_200Value2;
			s3AllPer = blackBeltUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'shoulderDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackShoulderDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackShoulderDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackShoulderDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackShoulderDecorationUnique120_200Value2;
			s3AllPer = blackShoulderDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'faceDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackFaceDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackFaceDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackFaceDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackFaceDecorationUnique120_200Value2;
			s3AllPer = blackFaceDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'eyeDecoration'){
		if(levelValue == '120-200'){
			s1Per = blackEyeDecorationUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEyeDecorationUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEyeDecorationUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEyeDecorationUnique120_200Value2;
			s3AllPer = blackEyeDecorationUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'earring'){
		if(levelValue == '120-200'){
			s1Per = blackEarringUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackEarringUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackEarringUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackEarringUnique120_200Value2;
			s3AllPer = blackEarringUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'ring'){
		if(levelValue == '120-200'){
			s1Per = blackRingUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackRingUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackRingUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackRingUnique120_200Value2;
			s3AllPer = blackRingUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'pendant'){
		if(levelValue == '120-200'){
			s1Per = blackPendantUnique120_200Value1[s1Index*2+1].innerHTML;
			s2Per = blackPendantUnique120_200Value2[s2Index*2+1].innerHTML;
			s3Per = blackPendantUnique120_200Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackPendantUnique120_200Value2;
			s3AllPer = blackPendantUnique120_200Value3;
		}
	}
	else if(equipmentValue == 'machineHeart'){
		if(levelValue == '30'){
			s1Per = blackMachineHeartUnique30Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartUnique30Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartUnique30Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartUnique30Value2;
			s3AllPer = blackMachineHeartUnique30Value3;
		}
		else if(levelValue == '100'){
			s1Per = blackMachineHeartUnique100Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartUnique100Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartUnique100Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartUnique100Value2;
			s3AllPer = blackMachineHeartUnique100Value3;
		}
		else if(levelValue == '120'){
			s1Per = blackMachineHeartUnique120Value1[s1Index*2+1].innerHTML;
			s2Per = blackMachineHeartUnique120Value2[s2Index*2+1].innerHTML;
			s3Per = blackMachineHeartUnique120Value3[s3Index*2+1].innerHTML;

			s2AllPer = blackMachineHeartUnique120Value2;
			s3AllPer = blackMachineHeartUnique120Value3;
		}
	}
}

